[2015-07-18 04:13] jalsco opened #1 "SecTrustEvaluate [leaf AnchorTrusted]"
Hi Alban,
Am still having same problem that the app crashes immediately after seeing the "SecTrustEvaluate [leaf AnchorTrusted]" message. But only on jb devices. On non-JB devices works no problem.  KillSwitch2 (0.7) has no effect on these symptoms. With killswitch2 removed, I  used your Introspy tool and it shows that the app loads the certificates (from within the bundle) then gives the "SecTrus

[2015-07-18 06:33] nabla-c0d3 commented on #1
Hi,
Unfortunately this has nothing to do with SSL Kill Switch. The App crashes most likely because it is detecting the jailbreak, and will crash regardless of whether SSL Kill Switch is installed or not. The "SecTrustEvaluate" message is just an unrelated log message.

All in all I can't really help you as the solution here is to trick the App into thinking it is running on a non-jailbroken device

[2015-07-18 06:33] #1 closed

[2015-07-20 09:53] waza123x opened #2 "iOS SSL Kill Switch v0.7 for iOS 8.4"
iOS SSL Kill Switch v0.7 for iOS 8.4
Download from here: https://github.com/nabla-c0d3/ssl-kill-switch2/releases/tag/0.7

Thanks for this release ! Works fine!

[2015-08-11 18:50] nabla-c0d3 commented on #2
You're welcome :)

[2015-08-11 18:50] #2 closed

[2015-10-07 03:14] tjt263 opened #3 "iOS 8"
Hey man what's the difference between this and the original one on the iSec page?
Will this one work with iOS8? The other version didn't seem to work with all my apps.

[2015-10-14 05:40] nabla-c0d3 commented on #3
Yeah this one should work. The main difference is that this one also works for OS X Apps, and also that I will maintain it when new versions of iOS gets released.

[2015-10-14 05:40] #3 closed

[2015-10-15 09:05] waza123x opened #4 "iOS 9"
Will it work on iOS 9 ?
jb ios9 is out http://pangu.io

[2015-10-15 11:00] waza123x commented on #4
Just updated my iPhone 4S with iOS 9 & Pangu, and tested SSL-Kill-Switch2 , all works fine! Fully compatible.

[2015-10-15 16:27] nabla-c0d3 commented on #4
Awesome - thanks for letting me know :)

[2015-10-15 16:27] #4 closed

[2015-10-16 22:26] danylokostyshyn opened #5 "iOS 9 compatibility (booting problem)"
Hi, sorry for bothering, but could you please help me, or just point me in to the right direction, i used  [ios-ssl-kill-switch](https://github.com/iSECPartners/ios-ssl-kill-switch) (iSECPartners) on iOS 8 and previous, on iOS 9 it works, but it prevents a phone (4s, armv7, 9.0.2) from booting, so i can install it and use it, but i can't reboot the phone with the tweak installed, i think it might

[2015-10-16 23:09] nabla-c0d3 commented on #5
Hi,
Your build environment seems to have issues... have you been able to compile a tweak before? I re-compiled the tweak with Saurik's fix but haven't tested anything - feel free to try the tentative-ios9 package I just uploaded https://github.com/nabla-c0d3/ssl-kill-switch2/releases

[2015-10-17 16:39] danylokostyshyn commented on #5
hi, thanks a lot!  no i never tried to compile a tweak my self but i followed the instruction how to setup environment from [here](http://iphonedevwiki.net/index.php/Theos/Setup), probably i made a mistake somewhere, i will try to do it one more time later. Thanks for compiling it for me, unfortunately issue still present, the tweak works, but i can't reboot the phone with it installed, maybe some

[2015-10-20 17:20] markus0m commented on #5
I tried the old (package) version and got the boot problem.
Just found v2 and will give it a try. Thumbs up!

Doesn't seem like anything was uploaded though - the release is still at 0.7
Did I just miss it somehow?

[2015-10-20 17:27] nabla-c0d3 commented on #5
I removed it as @danylokostyshyn said it wasn't working.

I will re-compile SSL Kill Switch for iOS 9 once people have figured out what the issue is and how to fix it (http://www.iphonedevwiki.net/index.php/Updating_extensions_for_iOS_9).

[2015-10-20 17:35] markus0m commented on #5
I see! Not functional or just not solving the reboot issue?
If you have a new version for testing, just let us know on here.
I'm on an iPhone 5s.

[2015-10-21 01:26] nabla-c0d3 commented on #5
Have you tried the iOS 8 version ? it should work the same on iOS 9 (except for the reboot issue on 32 bits devices).

[2015-10-21 13:08] Hope4hope commented on #5
Same problem, using iPad 2, with 9.0.2, installed your released deb, after reboot device is dead.

[2015-10-21 13:25] markus0m commented on #5
Hold the volume up key while hard resetting.
Safe mode will fail but you should be able to boot eventually and remove the patch.

[2015-10-21 13:26] danylokostyshyn commented on #5
it isn't dead actually, you can always boot the device in a safe mode (hold the volume down key when apple logo appears) and uninstall the tweak, currently i'm using next wolkaround myself:

because the tweak actually works OK, the only problem is in loading it while the boot stage
i've built the .dylib separately ([small script](https://gist.github.com/danylokostyshyn/c8f68cfa700e707fc11f))
and w

[2015-10-21 13:27] Hope4hope commented on #5
nabla-c0d3, Also if possible add SSLKillSwitch.framework into git

[2015-10-21 13:39] Hope4hope commented on #5
danylokostyshyn, thank you for your solution, you are the best

[2015-10-23 07:07] radj opened #6 "Build environment details"
I am trying out this repo with RPetrich's [theos](https://github.com/rpetrich/theos) but encountering this build error which is weird.

    Undefined symbols for architecture armv7:
        "_MSHookFunction", referenced
             _init in SSLKillSwitch.m.45a1eea5.o

That function should be pretty basic in tweaks so I guess I have my build environment misconfigured or something. What tools are y

[2015-10-23 10:15] danylokostyshyn commented on #6
RPetrich's theos doesn't include CydiaSubstrate by default
Add this line to Makefile
SSLKillSwitch2_LIBRARIES = substrate

[2015-10-23 10:18] radj commented on #6
@danylokostyshyn That was all that it needed! I now know what to do when this issue occurs again with other projects. Thanks. By the way, which theos version are you using?

[2015-10-23 10:18] #6 closed

[2015-10-23 10:22] danylokostyshyn commented on #6
And make sure you are using latest CydiaSubstrate version, you can find it in a [saurik's repo](http://apt.saurik.com/debs/)
RPetrich's one as well

[2015-10-28 20:02] magicguru commented on #5
Can anybody get this working for iOS 9 without having to activate it after booting?

[2015-10-29 05:37] nabla-c0d3 commented on #5
I just released v0.8 - please try it and re-open the issue if it doesn't work. On my iPhone 4S it seems to work fine with no boot loop.

[2015-10-29 05:37] #5 closed

[2015-10-29 10:42] danylokostyshyn commented on #5
thanks! works great again! such a simple fix :) how did you find this out?

[2015-10-29 14:03] Hope4hope opened #7 "SSL Handshake error in iOS 9.0.2"
I'm using Burp, iOS 9.0.2, when accessing Safari any website with https say that:
![Verify Server Identity](https://cloud.githubusercontent.com/assets/15231625/10820426/d5cef636-7e55-11e5-8381-4eb7eb037ba1.jpg)
After installing custom certificate SSL, everything works well
BUT
When downloading from Appstore have that error:
![screen shot ](https://cloud.githubusercontent.com/assets/15231625/108202

[2015-10-29 14:09] Hope4hope commented on #7
Also com.nablac0d3.SSLKillSwitch2_0.8.deb, not solved that problem :(

Also nabla-c0d3 update version in Preference  SHOULD BE—>   SSL Kill Switch 2  v0.8

![screen shot 2015-10-29 at 16 08 09](https://cloud.githubusercontent.com/assets/15231625/10820728/6e25961e-7e57-11e5-9c33-1702e0c2bc1f.png)

[2015-10-29 14:56] Hope4hope commented on #7
Maybe Apple verify certificates with that list?
https://support.apple.com/en-md/HT205205

[2015-10-29 21:56] DonTim commented on #5
Works great with my iPhone 6s and iOS 9
Could you try to update introspy for iOS aswell?
Thanks

[2015-10-29 22:04] nabla-c0d3 commented on #7
I just removed the version from the preference bundle. For proxy-ing the App Store things are different; please read the README as it has link to the instructions.

[2015-10-29 22:04] #7 closed

[2015-10-29 22:09] nabla-c0d3 commented on #5
Good to know - regarding Introspy I don't have time to maintain it : /

[2015-10-29 22:18] nabla-c0d3 commented on #7
And also, make sure you restart the Apps after having enabled SSL Kill Switch.

[2015-10-29 23:40] markus0m commented on #5
5s boots as well, thanks!

[2015-10-31 17:56] tjt263 commented on #3
ok cool, fyi: it doesn't seem to be working on ios8. i ended up having to use a dns proxy and some fake ssl certs etc instead.

[2015-12-01 08:53] mskmkt0704 opened #8 "not work on IOS 9.0.1 AppStore"
i am try download a app,then i input my apple id.it finally failed at the step:connect to gsa.apple.com

itunesstored is restarted and the log show that ssl-kill-switch2 is successful inject to itunesstored
at:iphone 5s/ios 9.0.1

[2015-12-04 02:03] kings0527 commented on #8
SSLHandshake: Remote host closed connection during handshake
9.0.2/iphone 6

[2015-12-04 02:07] kings0527 commented on #8
https://itunes.apple.com/cn/app/99-rockets/id922871241?mt=8
Complete
200 OK
HTTP/1.1
GET
Yes
application/json; target=itml; charset=UTF-8
/192.168.1.105
itunes.apple.com/221.228.64.212

this remote server can capture

but

https://init.itunes.apple.com
Failed
SSLHandshake: Remote host closed connection during handshake
-
HTTP/1.1
CONNECT
No
-
/192.168.1.105
init.itunes.apple.com/221.228.64.212

th

[2015-12-14 15:10] Hope4hope commented on #8
For proxy-ing the App Store things are different; please read the README as it has a link to the instructions. And also, make sure you restart the Apps after having enabled SSL Kill Switch.

The SSL Kill Switch had a MobileLoader filter so that the code disabling certificate validation would only be loaded into apps linking the UIKit bundle (ie. applications with a user interface). This was initia

[2015-12-14 19:35] nabla-c0d3 commented on #8
@Hope4hope can you confirm that it works once you've followed the instructions ? If yes I will close the issue.
Thanks!

[2015-12-15 02:49] kings0527 commented on #8
my filter bundle is "com.apple.UIKit".

It can work success.

I guess some server of Apple used SSL 3.0 protocol and the server will check client's cert, but the tweak just turn off client's SSL.

Now I complete a tweak to capture AppStore.

You can hook sslread and sslwrite.

[2015-12-15 15:36] mskmkt0704 commented on #8
i fixed it.i parsed it with IDA.finally i find AuthKit did the real job for login
so add com.apple.AuthKit  to filter bundle,then it worked.

[2015-12-15 16:12] nabla-c0d3 commented on #8
@mskmkt0704 Nice! I will add AuthKit to the filter then. Thanks!

[2016-01-03 14:44] trueicecold opened #9 "Downloading fails when proxying and downloading an app"
I've tried fiddler and charles proxy to sniff the download process of an app from the appstore on iOS (8.1.3). Used KillSwitch 0.8 for that. Everything works perfectly fine (Awesome job!) except downloading an app.

Clicking on "GET" and "INSTALL", the request is rejected, and the button goes back to "GET".

Any ideas?

[2016-01-03 23:14] nabla-c0d3 commented on #9
Did you look at this https://github.com/nabla-c0d3/ssl-kill-switch2/issues/8 ?

[2016-01-09 22:05] #8 closed

[2016-01-09 22:05] nabla-c0d3 commented on #9
It should work fine in 0.9

[2016-01-10 10:42] trueicecold commented on #9
I'm unable to get it to inject killswitch when killing itunesstored.

Device logs once I kill the process are:

[code]

[2016-01-17 05:18] jjjapj opened #10 "iOS 9 Push Daemon Cert Pinning"
Hi, I am unable to successfully pin certificates to the push daemon (apsd). I tried adding com.apple.apsd to SSLKillSwitch2.plist and re-building, which made a deb package I could install, but iOS is still rejecting the certificates for the push proxy. These same certificates and setup work great on iOS 7 and 8. iOS 9 is doing something else, presumably with App Transport Security. Here is some lo

[2016-01-17 18:05] nabla-c0d3 commented on #10
Hi,
Yes this seems to be related to ATS. Please have a look at https://nabla-c0d3.github.io/blog/2015/12/01/burp-ios9-ats/ and let me know if it didn't work.
Thanks,

[2016-01-17 18:05] #10 closed

[2016-01-25 10:07] trueicecold commented on #9
I'm lost here...

I've checked the filter, even by extracting the deb file, and inside:

data\Library\MobileSubstrate\DynamicLibraries

I see the plist which has the 2 filters:

[code]

And yet, killing itunesstored doesn't inject KillSwitch2 into it... :(

[2016-01-26 10:14] gluckMu commented on #9
I have met the same problem. All requests are tracked, but only init.itunes.apple.com is failed.
I have used v0.9, and killed itunesstored.
Device Log are:
Jan 26 18:12:20 iPhone com.apple.xpc.launchd[1] (com.apple.itunesstored[775]) <Notice>: Service exited due to signal: Killed: 9
Jan 26 18:12:20 iPhone itunesstored[825] <Notice>: MS:Notice: Injecting: com.apple.itunesstored [itunesstored] (1144

[2016-01-26 16:19] nabla-c0d3 commented on #9
Try adding com.apple.itunesstored to the bundle filter ? You will then have to rebuild the tweak (`make package` and `make install`)

[2016-01-27 02:03] gluckMu commented on #9
@nabla-c0d3  Great!!!  I have solved this problem by adding com.apple.itunesstored to the bundle filter.
Many thanks!!!

[2016-01-29 17:07] trueicecold commented on #9
nabla, Thanks a lot, I thought the 2 filters should have been enough! :)
so, do I just download the source code, and run those command on the terminal, and I should get a .deb file in return?

[2016-01-29 19:11] trueicecold commented on #9
After 2 hours of tinkering with it, it's working perfect! :)
Thanks a lot!

[2016-01-29 19:11] #9 closed

[2016-02-03 14:47] steelzeh opened #11 "Doesn't work on iOS 9.0.2"
Doesn't disable any of the HTTPS calls.
Everything still happens with HTTPS and no SSL is disabled.

Downloaded your release from 25 days ago, installed it resprung my device, and nothing.
Tried restarting didn't help.

Thought it may have something do with appslicing, tried downloading apps from iTunes didn't help.

[2016-02-22 05:14] app111 opened #12 "Doesn't work 9.0.1(13A404)"
https://su.itunes.apple.com
https://init.itunes.apple.com

[2016-03-08 07:35] nabla-c0d3 commented on #12
I will need more details (such as what you were trying to do) before I can help.

[2016-03-08 07:35] #12 closed

[2016-03-08 07:36] nabla-c0d3 commented on #11
Please try the latest release and re-open an issue (with information such as which App you were trying to proxy) if it is still not working. Thanks!

[2016-03-08 07:36] #11 closed

[2016-03-18 08:35] JohnCoates opened #13 "Not working with Facebook"
First of all, very cool project!

I was trying out the latest release with the Facebook app and it's not working for me. Tried a reboot. Works fine in Safari. Console notifies of it being loaded. Screenshot from Charles Proxy included.
![screen shot 2016-03-18 at 1 29 50 am](https://cloud.githubusercontent.com/assets/967800/13872661/66a5fef4-eca9-11e5-8ac3-1b58447c85e2.png)

[2016-03-27 23:09] nabla-c0d3 commented on #13
Hello,
I just tried and confirm that is not working. There are a few network calls initiated by classes that explicitly check the certificate (`GCDAsyncSocket`, `FBMQTTNativeClient`, `RCTSRWebSocket`). I will need to think of a way to generically disable this type of certificate check, which might be difficult. Will look into it when I have time.

[2016-04-13 21:54] Grazfather commented on #13
Hm, I actually can't reproduce. I'm using facebook 52.0 with `mitmproxy` and my script is successfully pulling out the email and password from my login attempts.

[2016-04-13 22:01] Grazfather commented on #13
Seems that it's certain APIs. graph.facebook.com and api.facebook.com fail, but I could register an account through b-api.facebook.com/ without issue.

[2016-04-13 23:29] nabla-c0d3 commented on #13
Yes, it is specific APIs.

[2016-04-22 07:04] CyrusLiu158 opened #14 "App Store Preference file not found hook disabled"
v0.10 version in ios 7.1.2

I have killed itunesstored process , but there is an error in system log:

Apr 22 14:50:13  com.apple.launchd[1] <Notice>: (com.apple.itunesstored) Exited: Killed: 9
Apr 22 14:50:13  itunesstored[1361] <Notice>: MS:Notice: Injecting: com.apple.itunesstored [itunesstored] (847.27)
Apr 22 14:50:14  itunesstored[1361] <Notice>: MS:Notice: Loading: /Library/MobileSubstrate/

[2016-04-23 01:27] nabla-c0d3 commented on #14
Hi,
To enable SSL Kill Switch you need to comment out line 160 and recompile the tweak:
https://github.com/nabla-c0d3/ssl-kill-switch2/blob/master/SSLKillSwitch/SSLKillSwitch.m#L160

[2016-04-23 01:27] #14 closed

[2016-04-24 16:14] fattalgazi commented on #13
It is not working on my phone too, any update ?

[2016-05-09 14:37] rbaulin commented on #14
@CyrusLiu158 , @nabla-c0d3 Looking through the code I found that instead of recompiling the tweak it is easier to put [specific plist](https://gist.github.com/rbaulin/c5aeaefec6718e7992776af7b7c3bdee) with `shouldDisableCertificateValidation` key in `/private/var/mobile/Library/Preferences/com.nablac0d3.SSLKillSwitchSettings.plist` path. Works great with v0.10 from 17 Feb, iOS 8.4 👍

[2016-06-17 10:59] kopiro commented on #13
Any update?

[2016-07-25 01:51] BeauGiles opened #15 "Not working with Opal Travel"
App Store Link: https://geo.itunes.apple.com/au/app/opal-travel/id941006607?mt=8

Not working on iOS 8.4 or 9.3.3

[2016-07-30 18:00] alfonsoperez commented on #13
@nabla-c0d3 , I assume it's similar for Facebook's messenger app, tried a bunch of things with no luck, I was I knew more in this domain to be able to help.

[2016-07-31 12:09] kopiro commented on #13
@alfonsoperez Yes, it's the same.
Same struggle.

https://medium.com/@destefanoflavio/what-i-learned-hacking-facebook-messenger-soccer-game-3c882ea8537d#.c52oaxrw5

[2016-08-06 19:19] nabla-c0d3 commented on #13
`GCDAsyncSocket` actually does SSL pinning with the usual SecureTransportAPI that's already taken care of by SSL Kill Switch ( https://github.com/robbiehanson/CocoaAsyncSocket/blob/master/Source/GCD/GCDAsyncSocket.m#L6794 )
The remaining classes to patch are `FBMQTTNativeClient` `RCTSRWebSocket` (most likely this https://github.com/facebook/react-native/blob/master/Libraries/WebSocket/RCTSRWebSock

[2016-09-05 22:45] AdrienMangoo commented on #13
Any new clues about facebook ?

Thanks

[2016-09-08 15:20] karek314 commented on #13
Simple fix for that is to hook **RCTSRWebSocket** function called **_checkHandshake**

[2016-09-08 16:02] nabla-c0d3 commented on #13
I tried disabling pinning in `FBMQTTNativeClientand`, `RCTSRWebSocket` and `FBSSLPinningVerifier` but it still wasn't enough. I'll look into again when I have time.

[2016-09-12 05:07] xuanliu-aa commented on #13
@nabla-c0d3 what you mean by 'still wasn't enough'? It work partially or not work at all?

[2016-09-12 05:07] liuxuan30 commented on #13
@nabla-c0d3 what you mean by 'still wasn't enough'? It work partially or not work at all?

[2016-09-12 05:33] liuxuan30 commented on #13
@nabla-c0d3 what you mean by 'still wasn't enough'? It work partially or not work at all?

[2016-09-12 09:16] xuanliu-aa commented on #13
can you jus tell me how to bypass Facebook app SSL pining for now as a work around? I am ok to inject tweaks

[2016-09-12 09:17] liuxuan30 commented on #13
@karek314 can you jus tell me how to bypass Facebook app SSL pining for now as a work around? I am ok to inject tweaks? I tried to let _checkHandshake return YES, however, no luck

[2016-09-18 01:29] liuxuan30 commented on #13
From what I found is `FBNetworkerRequest` class is handling the requests and reponses like graph.facebook.com, however, not finding a way to bypass SSL pinning.

[2016-09-27 11:49] AdrienMangoo commented on #13
I did some research, and didn't find yet a solution. @liuxuan30 did you get more results on your side ?

[2016-09-28 00:27] liuxuan30 commented on #13
as I said, I just found that the API requests are sending out by `FBNetworkerRequest`. I don't find how `FBNetworkerRequest` enforce SSL pinning.

[2016-09-29 12:52] ch3repatz commented on #13
30 min ago https://twitter.com/CodeDigging/status/781468522815819776

[2016-09-29 17:47] alfonsoperez commented on #13
@ch3repatz  Impatiently awaiting for details 👍

[2016-09-29 18:17] ch3repatz commented on #13
@alfonsoperez hope the author will share his research, not just the screenshot

[2016-09-29 18:19] nabla-c0d3 commented on #13
This is still on my TODO list, I just haven't had time to look at this again.

[2016-09-30 02:54] liuxuan30 commented on #13
@ch3repatz can't wait.. why just a screenshot

[2016-09-30 06:27] ch3repatz commented on #13
@liuxuan30 I don't know, ask the author of research please. I just found the tweet and copied here.

[2016-09-30 06:31] liuxuan30 commented on #13
Just asked and get a reply:"No, it's a non-public research for my customer."
So we are still on our own LOL

[2016-09-30 06:50] ch3repatz commented on #13
@liuxuan30 sad :(
Ok, let's wait for update from @nabla-c0d3

[2016-09-30 08:22] liuxuan30 commented on #13
actually can we have synergy here not just depending on @nabla-c0d3 ? I was able to track down to where it get the response data, but can't find where it do the ssl pining

[2016-10-12 02:16] xuanliu-aa commented on #13
@nabla-c0d3 I found that I hooked `GCDAsyncSocket` ssl related functions, but no one get called. Seems it's not using `GCDAsyncSocket` at all? Can anyone double check?

[2016-10-12 20:24] nabla-c0d3 commented on #13
It's not used in the flows that I have seen. Same with FBMQTTNativeClientand, RCTSRWebSocket and FBSSLPinningVerifier

[2016-10-13 01:53] liuxuan30 commented on #13
@nabla-c0d3 np, I just looked into it and want to save your time when you sit down and working on this. What I find is that the upper `FBNetworkerRequest` is sending the FB api requests, and doing the ssl pining somewhere in the process.
it not uses FBSSLPinningVerifier in its api network e.g. graph.facebook.com

[2016-10-13 09:34] hahaopsmeow opened #16 "Cannot create a new apple ID"
I cannot create new apple ID via "Settings" -> "iCloud" -> "Create a new Apple ID".

It says "Verification Failed. There was a problem connecting to the server."

Any idea how to fix it?

[2016-10-24 15:18] hahaopsmeow commented on #16
Moreover, I cannot create iTunes account without credit card (via Install free app).
please help.

[2016-10-26 15:37] #16 closed

[2016-11-03 11:55] bruno-rocha-movile commented on #13
It also doesn't work with World of Warcraft Armory, It works correctly until you login, then it doesn't catch anything besides the regular google analytics calls

[2016-11-07 00:54] liuxuan30 commented on #13
@bruno-rocha-movile please don't add irrelevant topic to this thread, as you can see the title is 'Not working with Facebook`

[2016-11-07 11:57] bruno-rocha-movile commented on #13
@liuxuan30 it's relevant because it proves that there are other apps that could be using the same protection that Facebook is using for Messenger. One of these other apps could have a lighter protection than Messenger, making it easier to crack whatever Messenger is doing here.

[2016-12-23 11:15] TimonPeng opened #17 "iOS 10.1(.1) support"

[2016-12-27 14:57] LiboDing commented on #17
seems not work in iOS 10.1.1

[2017-01-03 07:23] LiboDing commented on #17
Install all packages, reboot SpringBoard, kill itunesstored process, and open App Store, I got messages(related with SSLKillSiwtch2) as below:
SandboxViolation: AppStore(1498) deny(1) file-read-times /private/var/db/stash/_.RDJG0q/DynamicLibraries/SSLKillSwitch2.dylib
Maybe not compatible with Cydia Substrate? Any ideas?

[2017-01-03 08:02] TimonPeng commented on #17
Whats version about your Substrate etc..? @LiboDing

[2017-01-03 12:41] LiboDing commented on #17
0.9.6301 @TimonPeng

[2017-01-03 17:40] nabla-c0d3 commented on #17
The 10.1.1 jailbreak is too unstable right now - I am waiting for a non-beta release.

[2017-01-27 12:12] alessandro893 commented on #17
10.2?

[2017-01-30 06:52] ablewalmsley commented on #17
seconding the motion for 10.2 support, its pretty stable at this point even though its still in beta.

[2017-01-30 17:15] nabla-c0d3 commented on #17
Yep - I'll look into it this week.

[2017-01-31 11:19] salcho commented on #13
In case anyone is still looking at this: Messenger seems to wrap every request in NSMutableURLRequest objects. If you place the right hooks  for this class you'll see exactly where a request is going, with which headers, etc. This is regardless of where it comes from (i.e. GraphApiRequest, MediaStreamingUploadJob, etc etc).

Those NSMutableURLRequest objects get pushed into a dispatch queue that t

[2017-01-31 17:20] nabla-c0d3 commented on #13
That's very helpful, thanks!

[2017-02-02 17:20] varuzhnikov commented on #17
@nabla-c0d3 could you please look into it(ios 10.2) as soon as possible. I'm ready to donate you!!!

[2017-02-04 16:56] ChristopherHammond13 commented on #17
Bumping for 10.2 support. Got a project that this would be super useful for.

Does it work with iMessage btw?

[2017-02-04 18:17] nabla-c0d3 commented on #17
Yeah I just had a look and it does not work on 10.2 at all, which is surprising. Looks like made some big changes to the network stack. Will keep looking...

[2017-02-04 18:20] ChristopherHammond13 commented on #17
@nabla-c0d3 ah that is annoying. Is there an alternative to this method? Parts of iOS (e.g. iCloud and iMessage) seem completely impossible to MITM due to pinning.

[2017-02-04 19:09] alessandro893 commented on #17
Alternative is to create a flex patch

[2017-02-05 06:08] nabla-c0d3 commented on #17
I think I have something that works now. If confirmed I'll release a new version tomorrow.

[2017-02-05 07:38] alessandro893 commented on #17
👍 🤘

[2017-02-06 05:50] nabla-c0d3 commented on #17
It's released now: https://github.com/nabla-c0d3/ssl-kill-switch2/releases/tag/0.11
Technical details here: https://nabla-c0d3.github.io/blog/2017/02/05/ios10-ssl-kill-switch/

[2017-02-06 05:50] #17 closed

[2017-02-06 08:12] alessandro893 opened #18 "v0.11"
IOS 10.2  (iPhone 6s)

Mail.app,
youtube.app,
instagram.app,
facebook.app

didn't work. (no connection to server)

[2017-02-06 08:45] ximerus commented on #18
Instagram 10.6 on iOS 9.3.2 working fine.

[2017-02-06 09:03] chantysothy commented on #18
Facebook 78 on IPad Air2 IOS 10.2 is working fine
Facebook 78 on IPhone 6S IOS 10.2 is not working.

[2017-02-11 13:02] Naituw commented on #13
@salcho, Thanks, very helpful!

I hooked -[FBTigonHttpExecutor addRequest:delegate:callbackQueue:] and successfully dumped out request informations. I think the response can be inspected by this way too (hook all classes conforms to FBHttpRequestDelegate).

[code]

[2017-02-11 18:29] nabla-c0d3 commented on #13
I also pushed my fb-experiments branch with all the hooks I tried (but that were unsuccessful).

[2017-02-12 21:54] Mila432 opened #19 "Really dirty patch"
https://github.com/nabla-c0d3/ssl-kill-switch2/issues/17

Your patch is really dirty :) , apps like Remote Desktop , discord stop working because of the patch.

[2017-02-13 08:32] Naituw commented on #13
I suspect the pinning logic is in the FBLiger or TigonService's C++ code, because Facebook Messenger dose that too according to this article https://serializethoughts.com/2016/08/18/bypassing-ssl-pinning-in-android-applications .

It's there any way to dump the headers or pseudocode for the C++ part? I have little experience about this.

[2017-02-13 12:23] karek314 commented on #13
I had some workaround solution for this task guys, it worked so i have stopped further researching on that as i have checked what i needed.

Maybe it will look funny however, solutions like this sometimes works just fine to find what you are looking for without much effort.

Just paste it in Cycript, shortly before request you want to catch since this most likely with crash app shortly after from

[2017-02-13 18:40] nabla-c0d3 commented on #13
@karek314 That's the nuclear option haha.
@Naituw I've never done it for C++ code but I know it can be done (as the symbols for the pinning functions must be public) - will look into this when I have some time.

[2017-02-14 00:36] liuxuan30 commented on #13
Has someone looked at `FBLigerSSLCertificateRequestObserver`? I remember it will get called when SSL fails, but I can't find who's calling.

[2017-02-14 06:56] Naituw commented on #13
I hooked `-[FBLigerConfig initWithLigerEnabled: ...]` method, change the first argument to `NO`, then hook `-[FBSSLPinningVerifier checkPinning:]`, change the return value to `YES`.

Everything works now!

Looks like Facebook have multiple Network Engine's, `Liger` is one of them, If I disable Liger, it will fallback to use the `FBSSLPinningVerifier`

![Screen Shot](https://raw.githubusercontent.c

[2017-02-14 06:58] liuxuan30 commented on #13
Wow @Naituw nice catch. All graphQL requests and supported?

[2017-02-14 07:07] Naituw commented on #13
@liuxuan30 Yes! All request captured by Charles is succeeded.

[2017-02-14 07:08] liuxuan30 commented on #13
fantastic :)

[2017-02-14 16:59] nabla-c0d3 commented on #19
Yes it is =) Surely there is a cleaner way to do this but unfortunately I can't spend too many week-ends on it. PRs are welcome tho.

[2017-02-14 17:13] nabla-c0d3 commented on #13
@Naituw I will integrate this to SSL Kill Switch. If you want you can do a PR (to get the credit in the commits) or I can do it myself. Let me know and thanks!

[2017-02-15 00:34] Naituw commented on #13
@nabla-c0d3 Thank you! I'm not that familiar with subtrate api and don't have jailbreak device to test it. So I think the best way is integrate this by you, very appreciated!

[2017-02-16 01:30] xuanliu-aa commented on #13
one more thing, since this is public, Facebook must will do something 😂

[2017-02-16 01:31] liuxuan30 commented on #13
One more thing, since this is public now, Facebook must will do something 😂

[2017-02-16 07:35] fattalgazi commented on #13
@nabla-c0d3  waiting for your integration impatiently. thank you.

[2017-02-19 17:23] ChristopherHammond13 opened #20 "Some Pinning Still Occurs"
I've been looking through this patch and trying to get my head around CFNetwork (but I'm pretty bad at reversing things so please excuse my ignorance here!)

I am still getting in the event log TIC SSL Trust Errors, which tells me there's probably another implementation of the Certificate Pinning process somewhere. Again this all seems to be happening in TCPIOConnection (perhaps by obtaining a tls

[2017-02-19 23:22] Mila432 commented on #20
Inject the dylib right and profit , iCloud login working just fine here

[2017-02-19 23:39] nabla-c0d3 commented on #20
Thanks for the insight @Mila432 =)

[2017-02-19 23:39] #20 closed

[2017-02-20 07:18] nabla-c0d3 commented on #13
This is slightly more difficult than I thought because initWithLigerEnabled: changes a lot across releases (as @Naituw you mentioned in your code =) ). I have an idea on how to hook this but it will take some time.

[2017-02-20 08:34] Naituw commented on #13
@nabla-c0d3 Yes, the argument list changes. The workaround I use is to hook the longest method for FBLigerConfig, which may seems wired ;). but it works for recent versions (at least from early 2016).

[2017-02-20 14:48] Mila432 commented on #20
We have the same issues like here http://nabla-c0d3.github.io/blog/2013/08/20/intercepting-the-app-stores-traffic-on-ios/

[2017-02-20 17:18] ChristopherHammond13 commented on #20
@Mila432 thanks for this! So killing the process should be enough? I attempted this with a lot of processes (akd, accountsd, cloudd, identityservicesd, etc) but I was using the `killall` command; is this insufficient? I even tried using `launchctl unload` / `launchctl load` but iMessage was still chucking errors out on the event log and neither iMessage would activate nor would iCloud sign in.

De

[2017-02-20 17:58] Mila432 commented on #20
@ChristopherHammond13 for icloud akd is enough , current plist limit will not inject into akd remove the plist of kill again

[2017-02-20 18:08] nabla-c0d3 commented on #20
What's the full package name? I can add it to the plist

[2017-02-22 16:04] ChristopherHammond13 commented on #20
Thanks for the suggestions, all!

So I removed the plist and resprung (rebooted, too), and pinning appears to be disabled for a lot of apps. However, despite killing akd, securityd, apsd, accountsd, identityservicesd, gamed, locationd, CommCenter, amfid, backboardd/SpringBoard, Preferences and nsurlsessiond (basically anything that was throwing any errors or TLS messages onto the syslog), I still

[2017-02-24 08:01] liuxuan30 commented on #13
@Naituw I followed your steps trying to hook the API and return what you said, however it seems not working, still seeing `SSLHandshake: Received fatal alert: unknown_ca`:
[code]

[2017-03-03 10:07] zcc1414 opened #21 "A little problem"
HI
I know iOS10 has not show the NSlog info.
I want to know how can you  print the NSLog information
Mar  3 18:01:04 iPhone XXXXX(SSLKillSwitch2.dylib)[2781] <Notice>: === SSL Kill Switch 2: Preference set to 1.
Mar  3 18:01:04 iPhone XXXXX(SSLKillSwitch2.dylib)[2781] <Notice>: === SSL Kill Switch 2: Subtrate hook enabled.

I compile the dylib
Both print and NSlog are not show to idevicesyslog

th

[2017-03-05 01:42] lgq2015 commented on #21
我也是看不到日志

[2017-03-05 05:56] alessandro893 commented on #21
因為它不工作

[2017-03-24 16:17] nikolac92 commented on #20
Any update on this one? Can't get it to work with itunesstored on 10.2 (Tryed killing all the above processes, and changin/removinf the filter plist)
Thanks!

[2017-03-29 13:17] masihyeganeh opened #22 "Any progress on macOS Sierra?"
I want to report that this stopped working on macOS Sierra.
Can you please investigate the problem?

Tested with macOS 10.12.4 and lldb-370.0.37.
There is no error, but it can't disable certificate pinning.

[2017-03-31 00:51] valentinradu commented on #22
@masihyeganeh I made a pull request [here](https://github.com/nabla-c0d3/ssl-kill-switch2/pull/23). It's a simple fix for macOS Sierra, you can use it until it gets merged on the main repo.

[2017-03-31 04:15] #22 closed

[2017-03-31 04:16] nabla-c0d3 commented on #22
Which Apps did you try it on? I don't have any Mac App that does SSL pinning to test it out.

[2017-03-31 10:43] masihyeganeh commented on #22
@valentinradu Thanks, I will test it now

@nabla-c0d3 I don't know, you can just test it on Mac App Store's login

[2017-03-31 22:55] mangledbottles opened #24 "[RESPONSE 500] Removed invalid header: Proxy-Connection: keep-alive"
Hello,
When I use SSL Kill Switch 2 on most apps it works. However, with some apps I get "Removed invalid header: Proxy-Connection: keep-alive" on some apps.

Possibly, one too many bypasses which cause the apps to fail connection?

Thanks :)

[2017-04-06 22:06] captincook opened #25 "ssl-kill-switch2 bricked iPhone6 iOS 9.1"
I tried the tool on iPhone6 iOS 9.1. I followed the installation guide copied it to the device and installed. New menu appeared in the device's settings and I rebooted iPhone. Now the phone DOES NOT BOOT it just stuck displaying Apple logo.

Why didn't you mention in the readme that this tool CAN BRICK the device ?
Do you have any suggestion how to recover the device ?

[2017-04-06 23:44] nabla-c0d3 commented on #25
Unfortunately, like any tweak there is a small chance that it will crash some kind of system process and put the device in a boot loop.
Have you tried the Substrate safe mode?

https://www.theiphonewiki.com/wiki/Cydia_Substrate

[2017-04-07 08:12] captincook commented on #25
THANK YOU very much... holding down the volume up key allowed me to continue the boot process so I was able to uninstall SSLKillSwitch. Thanks !

[2017-04-07 08:12] #25 closed

[2017-04-11 07:56] LeoCracker opened #26 "Can it run on iOS 10?"
thanks.

[2017-04-11 10:07] LeoCracker commented on #26
Appstore other network traffic can be caught, but the login request  error: SSL certificate was rejected

[2017-05-05 19:18] ablewalmsley opened #28 "Doesn't work on Linkedin"
Any chance on adding support for linkedin?

[2017-05-05 23:42] sunboshan opened #29 "Is there a way to make it work on a jailbroken Apple TV?"
Apple TV App Store app specifically.

Thanks for making this awesome tweak!

[2017-05-07 18:46] nabla-c0d3 commented on #29
If there is Cydia and Subtrate available for the AppleTV then yes. If that's not the case, you will have to follow the instructions in the README for OS X (but build the Xcode project for tvOS) and then it should work.

[2017-05-07 18:46] #29 closed

[2017-05-16 08:18] MuchiMuchiPink opened #30 "Doesn't work with Europcar"
No luck with the Europcar App it seems. Thanks for the good work btw.

[2017-05-23 07:19] liuxuan30 commented on #13
@Naituw looks like latest FB app (v 93.0) has changed and the killer switch does not work any more? Could you confirm? Thanks

[2017-07-23 00:11] #26 closed

[2017-07-23 00:11] #21 closed

[2017-08-22 18:26] ninoz opened #31 "Injecting DYLIB into jailed app"
Hi

Firstly thanks for your efforts on this app, its extremely helpful!

I'm using Theos-Jailed to inject your DYLIB into the "Damn Vulnerable iOS App" to bypass the Certificate pinning check within the transport security section.

I have the DYLIB loading and I could initially see that hooking was disabled due to the lack of preference file being present.  Within SSLKillSwitch.m I changed line 42

[2017-08-23 04:30] ninoz commented on #31
I just deployed the same app on a jailbroken device and it works as expected so I guess a jailbreak is required for the hooking to work :(

[2017-08-24 05:19] nabla-c0d3 commented on #31
I haven't tried myself byt It should work on a non-jailbroken  device. Make sure to build the Xcode project (not the Theos/Makefile project).

[2017-08-25 08:04] #31 closed

[2017-08-25 10:34] ninoz commented on #31
Hi, Thanks for the reply.

I was building using the theos make file, just tried with the xcode project.

I'm not sure if your familiar with theos-jailed but it supports injecting in a number of different format (framework/dylib etc)

https://github.com/kabiroberai/theos-jailed/wiki/Usage

Its like a question for it's developer but which method would you recommend?

[2017-08-26 17:20] nabla-c0d3 commented on #31
I am not familiar with theos-jailed but it seems like it should work. Personally I just inject the KillSwitch the library using a load command, and re-package the full App with it.

[2017-08-27 06:27] ninoz commented on #31
Hi

I did a little search and found a tutorial on injecting the DYLIB using otool

Within the console I get the following:
Aug 27 13:07:55 iPhoneN DamnVulnerableIOSApp(SSLKillSwitch.dylib)[3473] <Notice>: === SSL Kill Switch 2: Fishhook hook enabled.

So it looks like the injection is working as expected however its using the OS X based fishhook opposed to the substrate hook.  I have to admit I'm

[2017-08-30 01:07] Wh1terat opened #32 "authkit"
Hi,

I'm working with the IOS Simulator (10.3.x) rather than a physical device; so I'm not actually utilising ssl kill switch 2 as the sim is a little looser on signing.

I've patched libsystem_coretls.dylib: tls_helper_create_peer_trust to return 0 as per your blog post - and for the most part this is working.

I'm trying to investigate icloud related services which unfortunately don't.
Authkit w

[2017-08-30 01:23] Wh1terat commented on #32
Hi,

Thanks for the lightning fast reply!

Ah good to know - thanks.
The patch is working,  giving the "correct" results in as much as other pinned apps are now working.

More digging required on my part 👍

Appreciate the response!
Cheers,

[2017-09-12 08:07] moofkit commented on #14
@nabla-c0d3 looks like link is not correct. can you check what exactly need to change to fix this issue?

[2017-10-10 15:29] roboticsexpert opened #33 "lldb expression's opcodes issue"
i test this project in ios and everything worked like charm , but when tried it in macOS i have problem with inject binary to process :
[code]

what should i tried ?

[2017-10-23 08:12] dengtongtongtong opened #34 "seems not work against app store on ios10.2 use iphone"
I have followed the instruction. First load SSLKillSwitch2, to finger out whether this is success. I print out syslog and see /Library/MobileSubstrate/DynamicLibraries/SSLKillSwitch2.dylib message. Secondly I kill both appstored and itunestored. Finally I still can not catch the traffic of apple store, any suggestion about this?

[2017-10-23 11:17] dengtongtongtong commented on #34
Fixed

[2017-10-23 11:17] #34 closed

[2017-11-26 18:21] an0 opened #35 "dlopen fails with 0 return value"
I'm trying it on macOS 10.13.1 with lldb-900.0.61:

1. `lldb app path`
2. `break set -n NSApplicationMain`
3. `run`
4. expr (void*)dlopen("/Users/an0/Library/Developer/Xcode/DerivedData/SSLKillSwitch-xxxj/Build/Products/Debug/SSLKillSwitch.framework/SSLKillSwitch", 1)

But I got `(void *) $1 = 0x0000000000000000`. What did I do wrong?

[2018-01-16 14:25] strano666 opened #36 "iOS 10.2, fishhook and tls_helper_create_peer_trust function"
Hi, i've some trouble with hooking `tls_helper_create_peer_trust` in a my project via `fishhook`

I would intercept this call to know the state of SSL pinning and also i use `fishhook` to reach this goal.

Unfortunately in my project `fishhook`doesn't seem to work. I'm testing on [this](https://github.com/antekarin/ios-ssl-pinning) app, where with a Xcode Symbolic Breakpoint on `tls_helper_create_

[2018-01-21 08:56] holyswordman opened #37 "ssl-kill-switch2 cannot disable cert pinning in iOS11"
Cannot capture itune/apple id login https packets.
I also cannot capture app store packets in iOS11 with ssl-kill-switch2 enabled.

It seems doesn't rely on "tls_helper_create_peer_trust" in iOS11.

Here's AuthKit log:
[code]

[2018-01-22 19:06] #28 closed

[2018-01-22 19:13] asad0x01 commented on #28
:/

[2018-01-23 03:10] dauphin327 commented on #37
Getting the same error, hopefully someone can update it to work on iOS 11.1.x.

[2018-01-24 22:26] karek314 commented on #13
Hi,

I have been doing some research and it appears that these days many applications are conducting ssl pinning by OpenSSL library, usually with stripped symbols.

Thus i have wrote simple patcher for this and similar purpose with set of hooks/tasks.
https://github.com/karek314/hexbytescanner - binary patcher with json hooks
https://github.com/karek314/hexbytescanner-hooks - hooks itself

Right n

[2018-01-24 22:32] karek314 commented on #30
Take a look at https://github.com/nabla-c0d3/ssl-kill-switch2/issues/13#issuecomment-360294883, might be helpful.

[2018-01-25 07:27] MuchiMuchiPink commented on #30
thanks mate I will have a look at it.

[2018-01-25 10:31] JohnCoates commented on #13
Great work @karek314!

[2018-01-31 10:05] malhal commented on #35
Enable code-signing, build for profiling, copy from the Release folder to the app's Resources. I added these instructions to the readme #38

[2018-02-03 04:28] #35 closed

[2018-02-03 04:28] nabla-c0d3 commented on #35
Thanks again =)

[2018-02-03 04:29] nabla-c0d3 commented on #24
I don't think this error would be related to pinning, or its bypass. Good luck!

[2018-02-03 04:29] #24 closed

[2018-02-03 05:25] nabla-c0d3 commented on #37
I am waiting for Substrate to be released

[2018-02-03 05:26] nabla-c0d3 commented on #18
Duplicate of #13

[2018-02-03 05:26] #18 closed

[2018-02-03 05:26] #33 closed

[2018-02-03 05:30] nabla-c0d3 commented on #36
Fishook and symbol interposing in general will not work to hook calls between Apple frameworks (such as `NSURLSession` ->`tls_helper_create_peer_trust`). See https://nabla-c0d3.github.io/blog/2015/10/17/trustkit-ios-9-shared-cache/

[2018-02-03 05:30] #36 closed

[2018-02-05 09:05] inputfuture commented on #34
@dengtongtongtong  same error here,how did you fix it ?thank you.

[2018-02-06 08:17] MuchiMuchiPink commented on #37
Wouldn't it work with Substitute?

[2018-02-12 12:06] hiburn8 commented on #37
I tried using Electra's SBinject to load the jailed substrate dylib [here:](https://github.com/BishopFox/theos-jailed/blob/master/lib/libsubstrate.dylib) and then injecting the killswitch dylib directly into a process at the same time. But that didnt work... just saving people 5 minutes who think to try it. I'm not sure why it didnt work.. maybe SBinject loads killswitch before the substrate libra

[2018-02-19 05:45] GarlandM opened #39 "Not working with Instagram any longer"
It appears Instagram has changed how they handle cert pinning, as it no longer works with Instagram.

[2018-02-19 13:25] karek314 commented on #39
@GarlandM Here is solution https://github.com/nabla-c0d3/ssl-kill-switch2/issues/13#issuecomment-360294883

[2018-02-22 15:27] jercypackson commented on #39
Hi @karek314 your solution does not work with any of the newest Instagram ipas (33.0) on iPhoneCake ("Can't patch because patch address has not been found").
Is it possible that the hook you provided is already outdated?

[2018-02-22 20:06] karek314 commented on #39
Hi @jercypackson, next time please open issue in **hexbytescanner-hooks** repo as it's related to it. We don't want to make a mess in @nabla-c0d3 repository.

Indeed, pattern broke. I bet it's either due different compiler behaviour or slightly different version of openssl lib. That pattern was pretty fresh and untested. I have pushed v2 version of it. It should work fine.
https://github.com/karek

[2018-02-28 13:11] MuchiMuchiPink commented on #37
Electra now comes with a Substrate Compatibility Layer. Installs without any issues via dpkg, but doesn't show up in the menu. Wonder if you give it a shot now or still wait? Thanks for your great work again.

[2018-02-28 19:12] bakzeit commented on #37
@MuchiMuchiPink i already installed with 11.1.1 and SSLKillSwitch 2 showing in menu .. but also not working .. maybe apple have changed something in iOS 11

[2018-03-01 07:20] zbzriz commented on #37
@holyswordman where do you find the AuthKit log?

[2018-03-01 07:25] zbzriz commented on #37
I can't capture any Https packets on iOS11.1

[2018-03-01 07:45] bakzeit commented on #37
@MuchiMuchiPink Electra 1.0.1 that what im on .. and what i just found yesterday .. i dont know if it is odd behavior ? when SSLKillSwitch in menu is turned on ...  i cannot get any icloud mail , open pages in safari etc .. even im not intercepting https trafic at all , and when it is OFF in  menu panel .. all works perfectly !!
maybe SSLKillswitch on iOS 11 is conflicting with what apple changed

[2018-03-01 08:04] MuchiMuchiPink commented on #37
@bakzeit well that's more than what I got. Not a single tweak shows up in my menu.

[2018-03-14 12:44] zbzriz opened #40 "Please help to add support for iOS11"
Please help to add support for iOS11, current version doesn't work under ios11. Thanks!

[2018-03-16 09:14] MTester2018 opened #41 "Does not work on IOS 10.3.2"
Hi,
the last relatese 0.11 does not bypass ssl pinning on iOS 10.3.2 !
Does any one test it on this iOS version? do you have any idea/suggestion?

Thanks!
MAL

[2018-03-21 15:20] mtshare commented on #37
@nabla-c0d3 Please add support to iOS11 since Electra + Sobstitute is almost stable and probably the only jailbreak solution.

[2018-03-25 05:55] nerozhao commented on #41
I tested, it work, you should kill the process

[2018-03-27 06:11] iamvinny commented on #40
Yeah, it would be awesome to use it on iOS 11.

[2018-04-04 04:32] mwpcheung commented on #37
@nabla-c0d3 Please add support to iOS11 since Electra

[2018-04-04 22:00] sharifulin commented on #37
Hi, does anyone know how to sniff requests from App Store on iOS 11? I need Today, games and apps list. Please send me DM, if you know. I’m ready to pay ;)

[2018-04-10 13:25] mwpcheung commented on #40
@iamvinny follow me

[2018-04-10 13:26] mwpcheung commented on #40
here ssl-kill for iOS11 JB   https://github.com/mwpcheung/ssl-kill-switch2

[2018-04-11 03:00] lgq2015 commented on #40
There's a problem with this upgrade. I'm not doing it well. I have a version that I can work here. Need to contact me QQ 2011229763 or 2011229763@qq.com.

[2018-04-11 03:00] lgq2015 commented on #37
There's a problem with this upgrade. I'm not doing it well. I have a version that I can work here. Need to contact me QQ 2011229763 or 2011229763@qq.com.

[2018-04-12 20:59] bakzeit commented on #40
@mwpcheung sorry .. just asking do u have a build for ios 11 support or do i need to compile it? ( im not familiar from compiling sources )
thnx

[2018-04-13 03:07] #32 closed

[2018-04-13 03:37] nabla-c0d3 commented on #40
@bakzeit I added a compiled version at https://github.com/nabla-c0d3/ssl-kill-switch2/releases but I do not have an iOS 11 device to test it. Can you test it and let me know if it works? Thanks!

[2018-04-13 07:24] nerozhao commented on #40
Still not working for iOS11

[2018-04-13 08:17] bakzeit commented on #40
@nabla-c0d3 yes it works ..
but people need to install then reboot and jailbreak again to make it work ..
if youn dont reboot it wont work from first time install
thnx for the great work bro ;)

[2018-04-13 08:47] mwpcheung commented on #40
install the package. kill the process u wana injecting, it works.

2018-04-13 16:17 GMT+08:00 bakzeit <notifications@github.com>:

[2018-04-13 09:32] mwpcheung commented on #40
MacOS Charles v4.2.5 works well

[2018-04-13 10:57] FurionXin commented on #40
@mwpcheung But I found that it can't work for all https packets well in App Store. Some requests are okay, but others are not.

[2018-04-13 11:46] chrisbog94 opened #44 "Doesn't seem to actually function"
So I get the package installed, the preference pane is showing up with a single toggle, which I enabled.
Testing with Instagram app and iOS 11.0.3.
The settings app crashes a bunch of times before opening properly as well.

[2018-04-13 15:03] shmakovigor commented on #40
Hello! Could someone check whether it works with the latest Instagram app? Seems it doesn't... @mwpcheung @bakzeit

[2018-04-13 17:24] McFlurriez commented on #44
Yeah, it doesn't work. I tried reaching out on the merged PR but no response. If you look into it, `nw_tls_create_peer_trust` cant simply use the short-circuit for `tls_helper_create_peer_trust`. The former doesnt even call the later in an invalid cert case which is why its not working for iOS 11 but working for iOS 10.

[2018-04-14 08:54] McFlurriez commented on #40
@mwpcheung @bakzeit

Can you explain how it works?
1. iOS major/minor version
2. Electra version
3. Steps to Reproduce

[2018-04-14 10:53] bakzeit commented on #40
@McFlurriez
iOS 11.1.1 iPhone SE  Electra 1.0.1
Killing the Process Via SSH wont work with me .. just i restart the device and re-jailbreak works fine for me ..
and thats seems weird since restarting the process will act as restarted the device .. but seems electra injection failed on the killing the process and works fine when i restart device and re-jailbreak .. idk why im not expert in this

[2018-04-14 11:02] McFlurriez commented on #40
@bakzeit thanks for the quick reply! Which app are you testing the pinning on? Twitter? TrustKit? I would love to try to reproduce.

I spent some time building and loading kill switch myself, ran it through a debugger and stepped through the network calls. In the invalid cert case, I watched it return from boringssl without even touching the helper function hook in the PR and failing. There was on

[2018-04-14 12:52] mwpcheung commented on #40
@McFlurriez Would u please give us the test case ?

[2018-04-14 16:09] nabla-c0d3 commented on #40
Closing this as it was confirmed that the tweak works on iOS 11. Some apps have customized how they do SSL pinning and SSL Kill Switch won't work on them (#13 , #39).

[2018-04-14 16:09] #40 closed

[2018-04-14 16:26] nabla-c0d3 commented on #44
It works but Instagram is not supported (#39 ).

[2018-04-14 16:26] #44 closed

[2018-04-14 16:30] #19 closed

[2018-04-14 16:31] nabla-c0d3 commented on #41
It works on iOS 11 now - support for 10.3.2 (assuming it doesn't work) is not on the roadmap.

[2018-04-14 16:31] #41 closed

[2018-04-14 16:37] chrisbog94 commented on #44
Nabla,

I've tried this with a ton of apps, it's not just related to instagram. Last night I did a clean OS install to 11.0.3 with no luck still. I've tried 7 separate apps all with the same result.

[2018-04-14 17:53] McFlurriez commented on #40
It doesn't work on TrustKit's Demo, pretty sure there's nothing custom there.

[2018-04-14 17:54] McFlurriez commented on #44
Same for me Chris. What's your iOS Major/Minor? Electra Version? List of tested apps?

[2018-04-16 08:45] MuchiMuchiPink commented on #40
Doesn't work for me on Electra 1.0.4 + iOS 11.1. Appstore doesn't load at all. DB Navigator works sometimes. Both work on an iOS10 device however. I killed the SpringBoard and even rebooted the device + rejailbreak.

[2018-04-16 08:51] ceriumx64 commented on #40
@MuchiMuchiPink @McFlurriez I think I know what's going on for all of you.

On iOS 11 you can't just install your MITM root cert, you also need to explicitly trust it.
You can do this by:

`Settings -> General -> About -> Certificate Trust Settings -> Flip the switch on your cert`

[2018-04-16 08:58] MuchiMuchiPink commented on #40
@ceriumx64 thanks. The Certificate for the Mallory was already trusted, however not bettercap. But both didn't work. I'll give it another shot.

[2018-04-16 09:07] ceriumx64 commented on #40
If one of them is working sounds like the kill switch is working, nice!

Unfortunately if an app implements ssl pinning themselves, they won't be using the library that the kill switch hooks into. For that, you'll be out of luck.

[2018-04-16 09:14] MuchiMuchiPink commented on #40
@ceriumx64 I'm well aware that native pinning is a different beats ;) The question is why my other mitm doesn't work on the same apps that work on bettercap. Probably something at my end. Thanks everyone helping to get this working!

[2018-04-21 13:32] arturdev opened #45 "macOS High Sierra Support"
I'm trying to inject sslkillswitch into mac's AppStore app but I'm still getting error on sign-in while proxying.

<img src="https://i.imgur.com/28LWdr5r.jpg">

Dylib is injected to process successfully:
<img src="https://i.imgur.com/4rUW91o.png">

Is there any other process that should be injected, or that's a bug?

[2018-05-14 23:04] rubenvde opened #46 "Not working with Spotify"
Looks like I can't see any ssl communication from Spotify. I tried patching the ipa using @karek314 his hexbytescanner but without luck

[2018-05-21 15:48] luke14free opened #47 "Not working with App Store"
The tweak is unfortunately not working with the App Store.

<img width="1185" alt="screen shot 2018-05-21 at 5 47 34 pm" src="https://user-images.githubusercontent.com/166602/40316603-1d9f60f4-5d1f-11e8-850b-893d95d3e1c6.png">

Any hint?

[2018-05-21 16:00] #47 closed

[2018-05-21 16:00] luke14free commented on #47
I missed the other conversations. I understood that it won't work as of now.

[2018-05-22 14:47] MuchiMuchiPink commented on #40
@blunden I had the same issue with one of my iOS11 devices. I fixed it with moving TweakInject in /Library to a backup. Then  ln -s '/Library/MobileSubstrate/DynamicLibraries' to /Library. Renamed it to TweakInject. Respring and it worked. Hope this helps. I think that's an issue coming from a beta of Electra.

[2018-05-24 12:08] blunden commented on #40
@MuchiMuchiPink Yes, the issue was that the libraries were in the wrong directory. Curiously, a collegue had one phone where they ended up in the right place automatically but on 2 other phones we had that same issue.

It also took a few tries to get it working without running into the issue @Truewebber runs into. Unfortunately I know know what we did differently that time. Reinstalling Preference

[2018-05-24 14:37] wenter1138 opened #48 "Failed certificate pinning in iOS iMessages"
I'm trying to man-in-the-middle iMessage's communications using ssl-kill-switch2, Mitmproxy, and an iPad mini 1st gen running iOS 8.1.3.
I can confirm it works on the App Store after following your instructions to kill the App Store daemon so this project can hook into the certificate pinning calls.
However, when iMessage is opened, it does not trust the proxy. Instead, apsd (Apple Push Service Da

[2018-05-29 13:33] MuchiMuchiPink commented on #40
@blunden yeah, I guess I got the symlink wrong. On a device where it worked right away, both TweakInject and DynamicLibraries, point to /usr/lib/TweakInject instead. Thanks for the feedback, gonna fix my device asap.

[2018-06-12 08:40] sharifulin commented on #45
@arturdev Hi, did you find a solution?

[2018-06-12 16:53] arturdev commented on #45
@sharifulin , unfortunately :(

[2018-06-13 18:44] Mila432 commented on #45
all i can say its not the itunes process , you have to inject it into a daemon

[2018-07-03 16:05] asad0x01 commented on #40
I don't know why it's not working for you. It works perfectly on my phone
(iOS 11.1.2) . Try installing SSL KILL SWITCH 2 using this method --->
https://yalujailbreak.net/install-tweaks-ios-11-electra/ .

On Tue, Jul 3, 2018 at 3:24 PM x1622 <notifications@github.com> wrote:

[2018-07-04 19:40] samyk opened #49 "Erroring out on (some?) iOS11 devices (boringssl error)"
I understand some users have SKS working on iOS11 but it causes TLS connections to fail even in a very basic app I've created. Testing on iPhone 6 Plus, iOS 11.1.2 running Electra 1.0.4. *(moving this info from a pull request)*

I've created a pretty simple test app to validate using `NSURLConnection` ([https://samy.pl/o/nsurl.tgz](https://samy.pl/o/nsurl.tgz)). I'm performing a TLS MITMA through

[2018-07-09 06:06] espresso-flavoured commented on #45
Perhaps it's _akd_ (AuthKit). I haven't tried that myself yet, though.

[2018-07-09 18:17] XMB5 opened #50 "Not working on iOS 11.3.1"
Each process logs that SSL Kill Switch has been enabled, but nothing more happens.

[2018-07-10 00:55] andrewghobrial commented on #49
@samyk I'm on iOS 10 and I have noticed the behavior where just enabling SSL kill switch breaks SSL, even when supplying a valid MITM certificate. However I saw this in only a specific app that I suspect is doing extra steps to prevent reverse engineering. In a different app, SSL kill switch works fine without supplying proper certificate for mitm proxy.  Interestingly, it seems whether tls_helper

[2018-07-10 07:12] samyk commented on #49
Interesting -- try grepping for `boringssl` instead of `boring_ssl`. I believe CFNetwork calls libboringssl which then calls one of the hooked functions, but I'll validate.

[2018-07-10 09:23] general7078 commented on #50
Me too. I want to see the traffic detail about App Store, it works fine in earlier iOS editions, but not in iOS 11.3.1, which is jailbroken recently.

[2018-07-12 02:38] andrewghobrial commented on #49
I could not find any mention of `boringssl` on iOS 10 in the console logs. It could have changed for iOS 11.

[2018-07-17 20:58] espresso-flavoured opened #51 "Charles Proxy for iOS no longer works when this tweak is installed."
[An iOS version of Charles Proxy](https://www.charlesproxy.com/documentation/ios/) was released a few months ago. I tested it out on my iPad with 10.0.1 and iPhone with 11.3.1, and on both devices, it fails to process https requests when this tweak is enabled. Without this tweak installed, Charles Proxy works normally. I'm happy to provide Console logs if those would be helpful. I'd appreciate any

[2018-07-18 23:39] XMB5 commented on #51
What app?

[2018-07-19 03:50] espresso-flavoured commented on #51
@XMB5 The nature of the problem is how Charles Proxy iOS operates with SSL Kill Switch installed. It is unable to proxy HTTPS connections, which prevents me from intercepting HTTPS traffic from any iOS app.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-19 18:11] XMB5 commented on #51
Try running NoSubstitute on the charles app

[2018-07-24 05:42] espresso-flavoured commented on #51
@XMB5 I just tried using NoSub. It seems to work, but only intermittently. I’ll have to gather the logs to better explain that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-17 12:13] mdbrelo commented on #13
@karek314 how to detect it use OpenSSL library?

[2018-08-17 16:45] karek314 commented on #13
@mdbrelo look for string "openssl" usually it has embedded path, if that fails for some reason you can try locate some openssl specific strings.
https://github.com/openssl/openssl/tree/OpenSSL_1_1_0-stable

[2018-08-17 16:59] mdbrelo commented on #13
great. I'm trying to learn how to use ida and asm language but it's really hard

[2018-08-20 12:17] karek314 commented on #13
@liuxuan30 I will when I'll have more time, right now you can just use https://github.com/karek314/hexbytescanner and patch binaries manually before deploying them.

[2018-08-21 03:28] liuxuan30 commented on #39
@karek314 I'm a little confused how to put all these together to make it work. Do you have any instructions/manual for like finding the pattern and patching the apps?

[2018-08-21 20:42] karek314 commented on #39
@liuxuan30 I think you will find everything with links below

- https://github.com/karek314/HandyIPAPatcher

- https://github.com/karek314/hexbytescanner

-https://github.com/karek314/hexbytescanner-hooks

-https://github.com/karek314/hexbytescanner-hooks/issues?q=is%3Aissue+is%3Aclosed

Finding pattern itself is just experience, if you find any clue which library is used, then you can search for

[2018-09-01 09:29] Haydardi commented on #39
@liuxuan30 did you manage to figure out how to patch the latest Instagram IPA?
Also @karek314 would you be able to aid with this?

[2018-09-10 23:50] AppleTechy commented on #45
Is anyone else having issues with Macos Mojave? I keep getting an error that expr is an unexpected token. `MacBook-Pro:~ AppleGeek$ dlopen()

-bash: syntax error near unexpected token `expr'
MacBook-Pro:~ AppleGeek$ dlopen()

-bash: syntax error near unexpected token `expr'`

[2018-09-11 00:26] AppleTechy commented on #45
Unfortunately I seem to be running into a similar issue on Mojave. Where is keeps returning a 0 pointer value.

[2018-09-11 09:11] dedfft commented on #13
Could please anybody share the final ipa for Facebook with patched ssl pinning? Unfortunately i dont have any framework for patching it myself(

[2018-09-11 20:48] asad0x01 commented on #13
I have IPA only :|

On Tue, Sep 11, 2018 at 3:12 PM dedfft <notifications@github.com> wrote:

--
<https://about.me/asad0x01?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Asadul Islam
about.me/asad0x01
<https://about.me/asad0x01?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

[2018-09-11 21:46] asad0x01 commented on #13
@dedfft  you can use this guide by @phwd https://www.facebook.com/113702895386410/videos/1466262083463811/ .Let me know if you need IPA :)

[2018-09-11 21:55] dedfft commented on #13
Hello Asad, thank you for the video hint! I have already watched it this year several times, unfortunately i was unable to replicate the procedure several times and was disappointed in myself..

I am curios not in the process of debugging of an ipa, but more in looking at how facebook works inside..
 If you could share already patched ipa with me, it would be amazing!
My email is dedfft@gmail.com

[2018-09-12 14:31] asad0x01 commented on #13
Please check your mail :) @dedfft

On Wed, Sep 12, 2018 at 3:55 AM dedfft <notifications@github.com> wrote:

--
<https://about.me/asad0x01?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Asadul Islam
about.me/asad0x01
<https://about.me/asad0x01?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

[2018-09-14 01:31] liuxuan30 commented on #13
@asad0x01 I would also want to have one thank you. email is liuxuan30@liuxuan.com

[2018-09-14 09:51] kewtvvw commented on #13
@asad0x01 can you share .ipa file with me as well? email: kewtvvw@gmail.com.
Many thanks!

[2018-09-14 12:39] asad0x01 commented on #13
Hey sorry guys.The latest Facebook app is crashing.Still I'm able to intercept https request of other apps.(Moments,Facebook Page Manager). Let me know if you need any of them.I've the base IPA of Facebook app.Not the modified one.

[2018-09-14 12:41] asad0x01 commented on #13
For android you can try https://github.com/pouyadarabi/Facebook_SSL_Pinning (Facebook for android Version 175).Also make sure that your android version is Lollipop or above.

[2018-09-14 13:11] asad0x01 commented on #13
Here is the Stock IPA of Facebook APP:https://mega.nz/#!lmpBHIAI!yEMBmTSVHmHNzmXB-Jq8_TMzTOvV5fbZ-awJUGxvsxs

Here is the Modified Facebook Pages IPA:https://mega.nz/#!omhlQY6A!95c5LW34bcpFyP1u_G8s32kKrYL1Wlf0oEI49AxZuHA

Here is the Modified Moments IPA:https://mega.nz/#!RngjwArB!AjD66ZXnjNVOvPLs_nfIAEkplI-xgOnUc4q5KU8-LPw

You can install those IPA's using Cydia Impactor.Note that you can only i

[2018-09-14 13:37] dedfft commented on #13
Thank you asad, that is fantastic!!
But what about main favebook patched app? Ipa

[2018-09-14 13:42] asad0x01 commented on #13
It's crashing unfortunately :(  But when I tried it a months ago it was working perfectly.However I'll wait for the next update :)

[2018-09-19 15:27] Eastkap commented on #13
I'm trying to do this with Instagram, should this process work ? How could I disable it's SSL pinning

[2018-09-24 20:51] dedfft commented on #13
Maybe any luck with disabled ssl pinning on previous Facebook app versions? I really need at least anything((

[2018-09-25 22:34] Seifertson commented on #13
@asad0x01 can you do other apps as well?  Please email me: urbanbyte@gmail.com

[2018-09-27 15:32] S00164379 commented on #13
Is it possible to do this without a mac using frida?

[2018-09-28 17:54] karek314 commented on #13
@S00164379 Nope. hexbytescanner is written in Objective C++, shouldn't be that hard to rewrite to C++ though.

[2018-10-01 07:12] notzheng opened #52 "It doesn't work on macOS Mojave App Store"
I follow the README OS X usage, and everything seems right, but it still does't work...
Is it not support macOS Mojave?
![2018-10-01 3 08 07](https://user-images.githubusercontent.com/13414731/46274537-65464f00-c58c-11e8-9496-c30677af9868.png)
![2018-10-01 3 08 49](https://user-images.githubusercontent.com/13414731/46274538-65dee580-c58c-11e8-97e3-0202a6ef3769.png)
![2018-10-01 3 09 39](https://us

[2018-10-01 15:32] XMB5 commented on #52
Might be the same problem as ios 11.3.1

[2018-10-30 22:02] macdonjo commented on #51
Is NoSubstitute only required on iOS 11 or newer?

[2018-11-08 17:59] gaplan commented on #39
still not working with instagram  :(

[2018-11-09 02:44] asad0x01 commented on #13
ah!NO!Sorry :(

[2018-12-10 17:48] BarrJ0427 opened #54 "Can someone please help me with my MacBook Pro"
Start time: 12:19:19 12/10/18

Model Identifier: MacBookPro13,3
System Version: macOS 10.14.1 (18B75)
Kernel Version: Darwin 18.2.0
System Integrity Protection: Enabled
Time since boot: 2:35

FileVault: On

Log

   Dec 10 09:38:47 com.apple.cloudd: Service exited with abnormal code: 1
   Dec 10 09:44:49 com.apple.xpc.launchd.domain.pid.SecurityAgent.218: Path not allowed in target domain: type = u

[2018-12-13 01:22] liuxuan30 commented on #13
@asad0x01 any luck with latest Facebook app?

[2018-12-17 09:46] iliakukharev opened #55 "Add support for iOS 12.0"

[2018-12-18 21:06] iamvinny commented on #55
This tool only works on jailbroken devices and there's no jailbreak for iOS 12.0.

[2019-01-04 21:45] varenc opened #56 "kill switch preferences not appearing in Settings on iOS 11.3"
Can't get the preference to appear in iOS settings.

I tried the default Cydia PreferenceLoader and then the newish PreferenceLoader (2.24~alpha1) from http://rpetri.ch/repo

Did a kill switch re-install after each change and have restarted iOS and springboard many times.

Any ideas?

Alternatively, anyway to turn this on from the shell? Could also just look into modifying the code to turn this on

[2019-01-10 00:40] varenc commented on #51
I unsuccessfully tried to workaround this just by not enabling kill switch until after all the Charles was running and intercepting.  If this worked I just would have added an extra check to avoid injecting into Charles but no dice.  Something else must be going on?

iOS logs to demonstrate:
![image](https://user-images.githubusercontent.com/167585/50938388-d9ff1400-142c-11e9-8be0-bbbec9b29b20.png

[2019-01-15 08:31] whoot commented on #50
+1 Does also not work on iOS 11.1.2. Even the new menu in the device's setting is not shown.

[2019-01-25 10:33] r3ggi commented on #50
+1, not working on iOS 11.3.1. Killswitch logs that is successfully injected but nothing more happens + it's not visible in the settings

[2019-01-29 10:50] r3ggi commented on #50
I found a solution:
1. I unjailbroke my iPhone using Rollectra
2. Then installed unc0ver in the newest version (make sure that Load Tweaks option in enabled)
3. Manually installed killswitch using dpkg -i

[2019-02-02 08:30] yoimhere commented on #50
not working

[2019-02-02 09:56] r3ggi commented on #50
Interesting, in my case it worked.

On Electra JB there is one external tool need to be installed - PreferenceLoader - http://www.3u.com/news/articles/5951/preferenceloader-brings-settings-for-each-and-every-installed-cydia-tweak

[2019-02-02 10:04] yoimhere commented on #40
not work

[2019-02-04 23:40] asad0x01 commented on #13
@nabla-c0d3  do you have any plan to implement this in ssl kill switch 2?Thanks in advance :)

[2019-02-07 00:32] chrisbog94 commented on #50
@yoimhere @r3ggi
Try this...

Go to Settings -> General -> About

Go all the way to the bottom and click "Certificate Trust Settings" and turn on your certificate from Charles, mitmproxy, burp, etc.

[2019-02-07 18:33] SergeKZ commented on #55
RootlessJb ) when support 12 ? please)

[2019-02-07 19:20] karek314 commented on #13
@asad0x01 Doesn't work anymore. It for sure does work with OpenSSL 1.1.0 and 1.0.2 ARM64. But current answer lies in facebook copy and paste they made - https://github.com/facebookincubator/fizz it does pinning now, it's open source, shouldn't be hard but I haven't had time to play around.

[2019-02-07 19:22] karek314 commented on #13
@asad0x01 Doesn't work anymore. It for sure does work with OpenSSL 1.1.0 and 1.0.2 ARM64(which still does work with many apps). Current answer lays in https://github.com/facebookincubator/fizz it does pinning now, it's open source, shouldn't be hard but I haven't had time to play around. In past it relied with pinning on OpenSSL.

[2019-02-07 19:24] karek314 commented on #13
@asad0x01 Doesn't work anymore. It for sure does work with OpenSSL 1.1.0 and 1.0.2 ARM64(which still does work with many apps). Current answer lays in https://github.com/facebookincubator/fizz it does pinning now, it's open source, shouldn't be hard but I haven't had time to play around. In past it relied with pinning on OpenSSL. If anyone finds stable pattern to hook pinning function, feel free t

[2019-02-09 18:22] Tomygames commented on #55
You need a full jailbreak for this tweak to work. Rootless JB isn't a proper jailbreak.

[2019-02-12 09:53] yoimhere commented on #50
i done, but not work. console logs that "SSL Kill Switch has been enabled" too

[2019-02-12 09:57] yoimhere commented on #50
maybe some apps work and some fail. many tks.

[2019-02-21 16:00] aph3rson commented on #56
I was also having this issue, on 11.4 using Electra. I later found [this Reddit thread](https://www.reddit.com/r/jailbreak/comments/8372op/tutorial_fix_electra_how_to_fix_tweaks_not/), and fixed it by running `mv /Library/TweakInject /Library/TweakInject.bak && ln -s /Library/MobileSubstrate/DynamicLibraries /Library/TweakInject` over SSH.

[2019-02-21 17:16] aph3rson opened #57 "Ineffective with Appcelerator SSL Pinning"
I've posted this as sensepost/objection#187, but it might be useful here as well.

Apps using Appcelerator by Axway have a customized SSL verification library. This uses an SSL certificate bundled with the app, a custom verification method, and is not affected by SSL Kill Switch. This can be fixed in Objection by patching `-[AppceleratorHttpsModule createX509CertificatePinningSecurityManager:]` to

[2019-02-22 21:49] iliakukharev commented on #55
https://github.com/pwn20wndstuff/Undecimus/releases/tag/v3.0.0%25b28

I thinks it's time

[2019-02-25 04:56] SergeKZ commented on #55
Please rebuild for ios 12 =) thanks

[2019-02-25 05:05] nabla-c0d3 commented on #55
I tried just now and the latest release doesn't seem to work on iOS 12.

[2019-02-26 03:04] qunuan commented on #55
expect support for ios 12 , thanks

[2019-02-26 11:06] maris205 commented on #55
ios12 jailbreak ok， wait for support

[2019-02-28 12:58] SergeKZ commented on #55
will ios 12 support?

[2019-03-01 14:13] revilon1991 commented on #55
please add ios 12

[2019-03-02 04:45] lbbniu commented on #55
please add ios 12

[2019-03-05 10:15] Amoystyle commented on #55
It seems that SecTrustSerialize is a trouble！！！

[2019-03-05 15:10] Int64x86 commented on #55
please add ios 12 support.
root is on almost all devices !!!

[2019-03-06 09:57] chenshthu commented on #55
@nabla-c0d3 ,I have set the debug point:"br set -n tls_handshake_set_callbacks",but trust-demo can't run to it.
In order to figure out what had changed in iOS 12’s network stack,I have started by grabbing the dyld shared cache from my iOS 12 device in System/Library/Caches/com.apple.dyld/dyld_shared_cache_arm64，but I don‘t get the CFNetwork!
Please give me suggestions,thx!

[2019-03-06 09:58] chenshthu commented on #55
@nabla-c0d3 ,I have set the debug point:"br set -n tls_handshake_set_callbacks",but TrustKit-demo can't run to it.
In order to figure out what had changed in iOS 12’s network stack,I have started by grabbing the dyld shared cache from my iOS 12 device in System/Library/Caches/com.apple.dyld/dyld_shared_cache_arm64，but I don‘t get the CFNetwork!
Please give me suggestions,thx!

[2019-03-18 09:56] qunuan commented on #55
please add ios 12 support. thanks

[2019-03-23 10:07] Annihil commented on #55
When ETA iOS 12?

[2019-03-24 11:44] dnhuan commented on #55
unc0ver is out!

[2019-03-29 20:15] trerter commented on #55
Please, rebuild for ios 12
 thanks

[2019-03-29 20:17] trerter opened #58 "iOS 12 support"
Please, rebuild for ios 12
thanks

[2019-04-01 03:14] qunuan commented on #58
[code]

[2019-04-01 07:39] lbbniu commented on #58
Please, rebuild for ios 12
thanks

[2019-04-01 10:50] zj1842 commented on #58
please, rebuild for ios 12, thanks, we need this.

[2019-04-08 11:00] stypr commented on #58
Please, rebuild for ios 12
thanks

[2019-04-10 01:34] liuxuan30 commented on #55
from iOS11 support https://github.com/nabla-c0d3/ssl-kill-switch2/commit/28f05ec052918d3b2c4bfdd9f6b0a7db1a809771

It seems openning "/usr/lib/libnetwork.dylib" rather than shared cache. Try that dylib and see any luck?

[2019-04-15 07:54] caoxiangyu666 commented on #58
Please, rebuild for ios 12
thanks

[2019-04-17 05:35] jonluca commented on #58
I've rebuilt a version for iOS 12. It is exactly the same as `HEAD` on this repo, so I'm not sure if anything has actually changed.

I've hosted it on the Cydia repo `https://jonlu.ca/repo/`.

[2019-04-22 00:38] thierbig commented on #58
Hey ! Please rebuild for ios 12 :)

[2019-04-26 01:53] dhogberg commented on #58
Pleaseee, iOS 12. Thank you!

[2019-04-27 21:16] #54 closed

[2019-04-28 17:31] nabla-c0d3 commented on #58
Duplicate of #55

[2019-04-28 17:31] #58 closed

[2019-04-28 17:33] #50 closed

[2019-04-28 17:50] #45 closed

[2019-04-28 20:22] nabla-c0d3 commented on #55
I have released a new version that works on iOS 12; I tested it with the TrustKit demo app: https://github.com/nabla-c0d3/ssl-kill-switch2/releases

[2019-04-28 20:22] #55 closed

[2019-04-28 20:24] nabla-c0d3 commented on #49
I won't have time to go back and look at iOS 11, but I added support for iOS 12 just now. To do that, I had to patch a function specifically to bypass the error returned by BoringSSL that you mentioned: "<Error>: Function boringssl_session_finish_handshake: line 2643 The peer was not authenticated. Disconnecting the connection.".
After silencing it I was able to bypass pinning validation.

[2019-04-28 20:24] #49 closed

[2019-04-29 01:27] liuxuan30 commented on #55
@nabla-c0d3 you are the best!

[2019-04-29 01:53] dnhuan commented on #55
Amazing! Thanks a lot.

[2019-05-02 04:45] nabla-c0d3 commented on #57
Thanks for the heads up. The new version that works for iOS 12 should handle this.

[2019-05-02 04:45] #57 closed

[2019-05-02 04:48] nabla-c0d3 opened #59 "Add support for macOS Mojave"
The network stack on Mojave should be very similar to iOS 12 but when I tested SSL Kill Switch on Mojave, I could not get fishhook to work and hook any function. Once there is a library/implementation that can hook calls happening within the dlyd cache, the iOS 12 version of SSL Kill Switch should work as is on Mojave.

[2019-05-02 04:53] nabla-c0d3 commented on #51
Charles Proxy for iOS uses a local VPN so it makes sense that SSL Kill Switch would disrupt it. One solution would be to prevent Kill Switch from getting loaded into the Charles Proxy processes, by adding their bundle IDs to the MobileLoader filter at https://github.com/nabla-c0d3/ssl-kill-switch2/blob/master/SSLKillSwitch2.plist

[2019-05-02 04:55] #46 closed

[2019-05-02 04:56] #15 closed

[2019-05-02 04:59] nabla-c0d3 commented on #52
I tried the iOS 12 version of SSL Kill Switch on Mojave, but it looks like fishhook is unable to hook any functions. I am pretty sure the patch/tweak itself will work (as iOS 12 and Mojave should have a very similar network stack), but we need a new hooking implementation to replace fishhook.

[2019-05-16 16:50] markus0m opened #60 "Not working on iOS 12.1: Apps are crashing, SpringBoard in safe mode"
I can't seem to get the latest release to properly work with iOS 12.1
Apps initially seemed to just crash on accessing network data when the tweak was active.
Respring with the tweak active now always puts SpringBoard in safe mode.
So I have no way of disabling it through the Settings any more but can only re-/deinstall it.

I managed to fire a request from the App Store app with the tweak (probab

[2019-05-23 17:43] Ruegg commented on #60
@markus0m Same here, any app will just crash upon making a request with me when SSLKillSwitch is toggled, and I'm on 12.1.2

[2019-05-24 02:58] zjcnew opened #61 "Could you write a version that supports Android os?"

[2019-05-26 00:35] nicolas17 opened #62 "Not working on iOS 11.4.1"
I'm on iPhone6,1 (5s), iOS 11.4.1, jailbroken with unc0ver. When intercepting the network using mitmproxy, without ssl-kill-switch, some apps work (like Safari and Cydia's home page) while others don't due to pinning (like the App Store and [Arlo](https://itunes.apple.com/us/app/arlo/id925911312)'s login).

After installing `com.nablac0d3.sslkillswitch2_0.13.deb` and enabling it, connections still

[2019-05-26 00:43] nicolas17 commented on #62
I tried downgrading to sslkillswitch2_0.12 in case it was a regression introduced with the iOS12 support in 0.13, but it has the same problem.

[2019-05-26 03:20] Tustin commented on #60
Same problem here. I even tried re-implementing the iOS 12 method using Frida but I didn't have much success. Not sure if I'm just doing something wrong as this was my first attempt at using Frida for scripting. If anyone wants to try messing with it then feel free:

note: For some reason, I couldn't find SSL_get_psk_identity in the symbols list so I just ignored it considering the [blog post](htt

[2019-06-02 13:07] MarkVillacampa commented on #52
I was able to hook functions in 10.14 using https://github.com/steven-michaud/HookCase/

Here's the diff of the hook example I used:

https://github.com/steven-michaud/HookCase/blob/da204378b66720e3a8417b03e0103d445191d72f/HookLibraryTemplate/hook.mm

[code]

After loading the HookCase kext, I can insert my dylib hook into any executable:

[code]

However, I keep getting this error:

[code]

Any i

[2019-06-03 03:43] nabla-c0d3 commented on #52
That's really cool - I hadn't heard of HookCase.

-9810 is for an "internal error" (https://gist.github.com/ubergoob/04a981caa92d766a7f37f59848b6bc07) so I am not sure. It's possible that the patch as it is actually doesn't work on macOS.

[2019-06-03 11:02] MarkVillacampa commented on #52
I only tried with App Store and Tweetbot, so it might also be related to
how those apps implement pinning.

I’ll try to port the iOS sample pinning app to macOS and try to bypass that.

If I succeed, would it be ok if I submit a PR with the hook dylib
implementation plus instructions to install HookCase?

On Mon, 3 Jun 2019 at 05:43, Alban Diquet <notifications@github.com> wrote:

[2019-06-04 03:10] nabla-c0d3 commented on #52
Yes for sure! Thanks

[2019-06-24 02:10] bryankeller commented on #62
+1, Snapchat, for example, doesn't seem to work

[2019-06-24 05:14] wangwanjie commented on #62
+1, the same as above, iPhone SE, 11.4.1 jailbroken with unc0ver

[2019-06-24 18:53] imHugoDev opened #63 "Not working on iOS 12"
Just jailbroken on iOS 12.0.1 but when activated, all applications [apart from settings] crash. Would really like for this to work as I've followed all the instructions and am not sure as to why this is happening.

- iPhone XS Max [iOS 12.0.1]

[2019-06-25 01:16] liuxuan30 opened #64 "part of AppStore iOS12 traffic is not working"
So I installed the tweak for iOS12. While checking the app store traffic, most of them are working, but I found when signing in, domains like init.itunes.apple.com and buy.itunes.apple.com is not working, saying handshake failed.

I tried to look into boringssl other functions, but seems nothing suspicious. I wanted to help, so can someone help to give some ideas so I could try out?

[2019-06-25 12:11] imHugoDev commented on #64
How did you get it to open apps on iOS 12? Im on 12.0.1 [iPhone XS Max] and all my apps crash after enabling the tweak and respringing.

Thanks.

[2019-06-26 00:02] liuxuan30 commented on #64
@imHugoDev don't hijack my thread for other issues. and yes it's fine on my side, everything is ok. just follow README

[2019-06-26 19:52] imHugoDev commented on #64
@liuxuan30 Not hijacking your thread, just asking how you managed to get it to work. Alright?

[2019-06-27 03:12] liuxuan30 commented on #64
just installed and works as usual. nothing special.

[2019-06-27 03:12] #64 closed

[2019-06-27 04:43] nabla-c0d3 commented on #63
I think my test device was on 12.1 and it worked fine. Not sure about 12.0.1 but I don't have time to find a fix... Good luck!

[2019-07-15 08:09] frankl1m commented on #63
Hi, left me ask some question about this, i dont try yet because this version is very unstabill, Settings App is working fine for your version per example you can see the traffic of Apple Services i mean from Settings App is only that i need to know, thank you

[2019-07-16 18:03] ericcastro commented on #63
Also not working on 12.1.1 using Chimera + Sileo + Substitute + Substrate Compatibility Layer.

Crashes into Safe Mode until uninstalled. Syslog not super helpful...
`default	19:55:54.623622 +0200	SpringBoard	Injecting /Library/TweakInject/CepheiSpringBoard.dylib
default	19:55:54.635558 +0200	SpringBoard	Injecting /Library/TweakInject/SSLKillSwitch2.dylib
default	19:55:54.637374 +0200	SpringBoard

[2019-07-16 19:10] avianeed commented on #63
Doesn't work for me either on iPhone 5s iOS 12.1.4. Puts springboard into safe mode

[2019-07-17 02:43] frankl1m commented on #63
Like

Like i see is a bad idea very unstabill in log, for now in ios 12 this tweak is not working for nothing, left me do another ask about all, I urgently need, I have my research project stopped because of SSL pinning, I can also get an iPad from a friend with iOS 11.4.1 and jailbreak. Some of you have tried it in this version mainly for Settings.app

[2019-07-17 02:45] frankl1m commented on #62
I urgently need, I have my research project stopped because of SSL pinning, I can also get an iPad from a friend with iOS 11.4.1 and jailbreak. Some of you have tried it in this version mainly for Settings.app

[2019-07-20 15:32] nabla-c0d3 commented on #63
I just checked and I actually used an iPhone 7 running iOS 12.0 with uncover to implement and test the current version.

I haven’t done anything with other versions of iOS...

[2019-07-20 21:57] blunden commented on #63
Works fine for me on both an iPhone 5S running iOS 12.1 and an iPhone 6s running iOS 12.2, both using the unc0ver jailbreak. Sounds like it could be an issue with the use of Substitue (used by Chimera and Electra) instead of Substrate (used by unc0ver and anything pre-Electra).

Electra's TweakInject was always a bit finicky for me and could end up breaking this tweak back in iOS 11.x days for me

[2019-07-20 22:02] blunden commented on #61
There are already Xposed modules that provide this functionality and they've been available for years. In most cases though, I find it easier to simply patch the Android apps to bypass the pinning or inject my own certificate in the app's keystore used for pinning to make it accept that CA as well.

[2019-07-20 22:06] blunden commented on #60
It works fine for me on two different devices, one with iOS 12.1 and one with iOS 12.2. Both are jailbroken with the unc0ver jailbreak. Others with the same issue described here seemed to use the Chimera jailbreak which uses their own Mobile Substrate replacement called Substitute which can cause issues with some tweaks from what I've heard.

[2019-07-22 08:31] blunden commented on #51
@nabla-c0d3 The SSLKillSwitch2.plist can't be used to prevent it from loading from my understanding (i.e. there is no exclude funktionality built for these filters), unless you remove the predefined bundles in there which causes it to get loaded into almost everything and instead just explicitly add the bundles you want to inject into.

The latter worked for me when I had to find a quick fix for a

[2019-07-23 07:21] Hwatu commented on #63
me too.
use Chimera
iPhone XR iOS 12.1.1

[2019-07-23 07:31] blunden commented on #63
@Hwatu Try using unc0ver instead if this is important to you.

[2019-07-23 07:48] Hwatu commented on #63
A12 devices not Cydia store, so use Chimera Silleo only.

[2019-07-23 07:56] blunden commented on #63
That's true. I forgot about that.

[2019-07-23 07:58] frankl1m commented on #63
So is working fine for unc0ver jailbreak in ios 12.2 i want to test my SE?

[2019-07-23 08:01] blunden commented on #63
@frankl1m Well, it works fine on both of my iOS 12 devices, including the iPhone 6s on iOS12.2. I would assume it would work fine on the iPhone SE too.

[2019-07-23 08:07] frankl1m commented on #63
Last question bro, excuse my insistence the problem is that I use RSIM and a few days ago Apple patched them, so I would not want to jailbreak without taking advantage of it, because I lost the release by RSIM, you have successfully tried to check the iPhone traffic to setup.icloud.com. thank you

[2019-07-23 08:18] blunden commented on #63
Some quick googling suggests that RSIM is a hardware shim for bypassing the SIM lock. I don't have any experience with those devices as all iPhones over here are either sold unlocked or easily unlocked the official way.

What did Apple patch? They prevented the RSIM device from successfully bypassing the SIM lock?

I have not checked if traffic to setup.icloud.com is visible, if that's what you're

[2019-07-23 08:23] frankl1m commented on #63
Exactly the RSIM is patched at the moment, I mean is that I run the risk that my software will die and when I restore it I will only have an iPod, but my interest is not in that. If someone could check if with Charles or Fiddler or Burp or others, they can get the plain text traffic from setup.icloud.com and confirm. I would be grateful and i will take the risk, not need being a developer

[2019-07-25 10:39] blunden commented on #63
@frankl1m I can now confirm that traffic to setup.icloud.com seems to be visible in Burp. I have modified the .plist file on my main testing device so that it only injects this tweak in a few particular apps, which is why I couldn't verify it for you before. Earlier today I had to use a second device and before I reconfigured that one too, I noticed some traffic to that domain flowing through Burp

[2019-07-26 09:14] frankl1m commented on #63
@bluden Thank so much for the help

[2019-07-28 16:57] nabla-c0d3 commented on #63
@blunden I finally replied :)

[2019-07-31 12:08] blunden commented on #51
@varenc You can try excluding the charles proxy process using the feature I added in #65 if this is still an issue for you. I linked a compiled version in there as well.

[2019-08-18 15:54] cfHxqA opened #66 "iOS 12.4 Support?"
Regards, could be iOS 12.4 supported soon? New jailbreak comes out today for it.

[2019-08-19 03:02] unl1k3ly commented on #66
+1

[2019-08-19 07:05] cfHxqA commented on #66
It can be closed. it works fine with iOS 12.4 and unc0ver. :-)

[2019-08-19 07:05] #66 closed

[2019-08-22 19:01] EthanArbuckle commented on #63
The crash people are seeing is due to Substitute (the library that Chimera uses for hooking C functions) not supporting functions that are very short. I think if there's less than ~60 bytes of stack space available after the function prologue, Substitute will cause a crash.

Alternatives:
* Wait for Chimera to switch to a better hooking solution.
* Make Chimera use the hacky version of MobileSubst

[2019-09-04 01:01] a3135134 opened #67 "Not working with Apple Home (the official homekit app of Apple)"
Hi,
I'm trying to decrypt the SSL traffic of Apple's Home App (official homekit app). After installing the newest SSL-Kill-Swich2, I thought I killed related process (e.g. ,  apsd, homed), but it didn't work. I still got the Handshake failed error: the client may not trust proxy's certificate for courier.push.apple.com.
Could anyone provide any ideas on this issue? Can ssl-kill hook Apple's push s

[2019-09-04 02:22] AlJohri opened #68 "not valid for use in process using Library Validation"
I'm getting this error: `not valid for use in process using Library Validation: mapped file has no Team ID and is not a platform binary (signed with custom identity or adhoc?)`

Full Error:
[code]

I'm trying to view the requests to/from the App Store. I codesigned using: `codesign -f --deep -s "Self-signed Applications" build/Release/SSLKillSwitch.framework`

I tried both using the Dylib method a

[2019-09-04 02:23] AlJohri commented on #68
I read somewhere the key needs to have an OU (organizational unit) but that also didn't work:

<img width="653" alt="Screen Shot 2019-09-03 at 10 22 59 PM" src="https://user-images.githubusercontent.com/2790092/64221028-6a490800-ce99-11e9-8b58-8f430e24fb0c.png">

[2019-09-05 18:30] a3135134 commented on #67
In addition, I'm using IOS 12.2.

[2019-09-06 01:14] a3135134 commented on #48
I also have the same issue with apsd. Did you figure it out?

[2019-09-08 20:45] a3135134 commented on #67
Well, I use Frida and hook the SecTrustEvaluate(), it works.

Reference:https://kov4l3nko.github.io/blog/2018-05-27-sll-pinning-hook-sectrustevaluate/

[2019-09-13 13:45] philok93 commented on #67
Hi @a3135134 , I keep have the same problem even after hooking with Frida. Are you sure that you get the response from Charles with Frida hook? I still have the problem of SSL failed.
I tried hooking with cydia substrate but no solution. Charles shows error in the requests going to icloud. (iOS 12.4)
I appreciate any help, thank you!

[2019-09-13 19:41] a3135134 commented on #67
Yes, it worked when I hooked SecTrustEvaluate() in apsd. I saw SSL connection (like courier.apple.com) established successfully in mitmdump, however, the server of Apples didn't response to the client's message! I even saw the client sent the first message to server in wireshark, and the client shutdown the connection because of no response from server. It it said that the server also checks the c

[2019-09-14 07:35] philok93 commented on #67
I face the same problem, even configuring client and server certificates for authentication, I don't get response from apple servers. Maybe apsd uses low-level ssl certificate check or I don't know what should be the reason. For sure certificates are hardcoded in apsd and frida doesn't work for low level hook functions (at least what I understand). Did you find any other daemon that tries to authe

[2019-09-14 18:32] a3135134 commented on #67
I'm sure the client trust the proxy's certificate after hooking by Frida because I saw the first message from apsd clientin my proxy. I also hooked imagent, cloudd, identityservicesd and there was no error from my mitm proxy. However, I still face that problem: the server didn't response in that established ssl connection from my proxy. Carefully inspecting the traffics may throw some lights upon

[2019-09-15 07:02] philok93 commented on #67
I didn't try hooking SSL_read() function but it may be a solution for this problem. I need to do some research first to find the correct functions that do the pinning. At least when I enable SSL -kill-switch it disables  pinning for some icloud requests but not those we want.

[2019-09-27 19:37] lupojpoodle commented on #52
I was able to get the kill switch somewhat working in 10.14 using HookCase. The functions that need to be patched are all in /usr/lib/libboringssl.dylib. So far, I've patched `SSL_CTX_set_custom_verify`, `SSL_get_psk_identity` (as above) and also `boringssl_context_issue_tls_handshake_callback`. My `boringssl_context_issue_tls_handshake_callback` just returns zero.

This seems to work with applica

[2019-10-04 16:28] jzarca01 commented on #51
For those wondering: Charles proxy BundleId is com.xk72.Charles

[2019-10-11 13:44] sooxiaotong opened #69 "Not working with Unc0ver jailbreak on iOS 12.4 A12"

[2019-10-16 09:25] Hwatu commented on #69
ditto, support plz

[2019-10-16 09:32] Hwatu commented on #69
ditto

[2019-10-23 14:12] blunden commented on #69
Unc0ver for A12 devices uses Substitute (although a custom version) instead of Substrate as far as I know. As I have mentioned before in tickets about crashes on devices jailbroken using Chimera, this tweak isn't fully compatible with Substitute for whatever reason. I don't think anyone has looked into why yet.

[2019-11-04 18:35] AlJohri opened #70 "tests fail on catalina"
[code]

[code]

[2019-11-11 15:07] MuchiMuchiPink opened #71 "Not working with Checkra1n jailbreak on iOS 13"
Device: iPhone 7
OS: iOS 13.1
JB: Checkra1n beta 0.9.1

Once an app is hooked with SSLKillSwitch, all apps crash until the tweak is removed.

[2019-11-12 05:39] #61 closed

[2019-11-12 22:40] rubobaquero commented on #71
I have the same problem.

Device: iPhone 7
OS: iOS 13.2.2
JB: Checkra1n beta 0.9.2

[2019-11-13 22:32] tmm1 commented on #71
Same with checkra1n beta 0.9.3

[2019-11-15 13:35] anaseqal commented on #71
Hi, until @nabla-c0d3 release next update, try this one and let me know if it works for you so i can share the code

[com.nablac0d3.sslkillswitch2_0.13-16+debug_iphoneos-arm.deb](https://anaseqal.com/com.nablac0d3.sslkillswitch2_0.13-16+debug_iphoneos-arm.deb)

for me it works well on ios13:
![SSL KillSwitch iOS13](https://anaseqal.com/sslkillswitch.png)

[2019-11-15 15:44] hosijyun commented on #71
I think it is the bug of substrate or Checkra1n.
The exception type is EXC_BAD_INSTRUCTION. When I look at the crash site the instruction is "LDR X8, [X0,#8]" which is the first instruction of function "SSL_set_custom_verify". The substrate will replace this instruction for hooking and cause the exception. You may use fishhook instead.

[2019-11-15 15:45] Mitsj0l commented on #71
This sir, works like a charm!

[2019-11-15 17:24] bravery9 commented on #71
Thank you very much!!!
It work for me.
Love you :D

[2019-11-15 17:26] tmm1 commented on #71
Looking forward to seeing the PR for iOS 13 support

[2019-11-15 17:42] anaseqal commented on #71
https://github.com/nabla-c0d3/ssl-kill-switch2/pull/72

[2019-11-16 20:51] MuchiMuchiPink commented on #71
@anaseqal thanks a lot! For now my frida-scripts still work :) But I can't test your deb because I'm on vacation right now, but close this anyways seeing it does for others.

[2019-11-19 23:17] nabla-c0d3 commented on #71
I will leave this open until I’ve made an “official” release. Until then it sounds like @anaseqal ’s PR will work fine.

[2019-11-19 23:23] nabla-c0d3 opened #73 "Not working with Substitute-based hooking"
The crash people are seeing is due to Substitute (the library that Chimera uses for hooking C functions) not supporting functions that are very short. I think if there's less than ~60 bytes of stack space available after the function prologue, Substitute will cause a crash.

The crash people are seeing is due to Substitute (the library that Chimera uses for hooking C functions) not supporting func

[2019-11-19 23:24] nabla-c0d3 commented on #60
Duplicate of https://github.com/nabla-c0d3/ssl-kill-switch2/issues/63

[2019-11-19 23:24] #60 closed

[2019-11-19 23:27] nabla-c0d3 commented on #62
Duplicate of https://github.com/nabla-c0d3/ssl-kill-switch2/issues/69

[2019-11-19 23:27] #62 closed

[2019-11-19 23:40] nicolas17 commented on #62
#69 is about a crash. I'm not getting any crashes here, it just makes requests fail.

[2019-11-25 10:10] kasnder commented on #62
I have the same configuration (iOS 11 + iPhone 5S). Yet, unlike #69, Unc0ver does not use Substitute but Cydia Substrate. Hence, I don't think it's a duplicate of #69, and any help would be appreciated!

[2019-11-26 07:10] frankl1m commented on #71
Is working pretty good, i have another ask is posible make a version that after install in system from whatever way. will be enabled auto in system without had to Switch On in Settings, asuming all risks of curse, thanks you anyways

[2019-12-01 04:29] 101145 opened #75 "When is iOS 13.2.3 supported?"
When is iOS 13.2.3 supported?

[2019-12-01 21:34] Merkie commented on #71
doesn't show up in prefs for me :(

[2019-12-03 04:54] nabla-c0d3 commented on #51
I've added a section to the README about Charles Proxy. Thanks again for the help.

[2019-12-03 04:54] #51 closed

[2019-12-03 04:54] nabla-c0d3 commented on #71
Released as part of v0.14. Thanks for the help!

[2019-12-03 04:54] #71 closed

[2019-12-03 04:55] nabla-c0d3 commented on #75
Duplicate of #71

[2019-12-03 04:55] #75 closed

[2019-12-06 03:03] jojodat opened #76 "FABCertificatePinner cant be bypassed"
I seen multiple Apps - for example ExpressVPN using FABCertificatePinner, which can't be bypassed by ssl-kill-switch2 yet

[2019-12-09 08:22] Amoystyle opened #77 "fishhook need to be updated!!!"
fishhook need to be updated!!!
fishhook need to be updated!!!
fishhook need to be updated!!!

[2019-12-11 19:59] anonymouz4 opened #78 "Doesn't work on cloudd"
I successfully loaded the signed framework into the cloudd process, returned a non-null pointer, so success.
But SSL pinning is still active. Either the method the process uses isn't hooked, the hooking doesn't work. I verified that the framework launch code is being executed

[2019-12-17 09:46] youngzzzzzzz opened #79 "Not working with Unc0ver jailbreak on iOS 12.4.1 A12"
Not working with Unc0ver v3.8.0~b1 iOS 12.4.1 A12 (iphonexs max)

crash all apps

[2019-12-19 09:40] #77 closed

[2019-12-22 16:07] nabla-c0d3 commented on #78
Can you describe in more details how you loaded the framework so I can reproduce it ? Thanks!

[2019-12-22 16:27] anonymouz4 commented on #78
There are multiple ways, but the simplest is to attach a debugger like lldb and run `expr dlopen("<path_to_executable>",1)`

I don't think it's bug, just that this application uses its own ssl pinning methods, not defaults like in your code.

For example a similar process like `akd`(which uses the AuthKit framework) has it's own ssl pinning method:  `@class AKCertificatePinning
+(BOOL)isValidCerti

[2020-01-21 03:21] dir opened #81 "All apps crash unc0ver A12 12.4"
Once enabled, all apps crash.

iOS 12.4
iPhone XR (A12)
unc0ver Jailbreak

[2020-01-21 03:22] dir commented on #81
Only opening this because you stated this was only for Chimera, this also appears to be an unc0ver issue as well.

[2020-01-21 03:22] dir commented on #81
Nevermind, am dumb, saw you acknowledged that earlier. Apologies.

[2020-01-21 03:22] #81 closed

[2020-01-26 02:55] OSKAR0000 commented on #79
K

[2020-02-26 06:21] mali44 commented on #79
First It was okay , after a reboot , I tried everything but never came back on settings menu

[2020-02-26 15:34] karimbenammar opened #82 "Not working with unc0ver + iOS 13.3"
Hi, after the release of unc0ver for A9-A11 iOS 13.3, ssl killswitch 2 is crashing springboard whenever installed.

[2020-02-26 21:33] fboas commented on #82
Same for me here

[2020-02-27 19:12] #78 closed

[2020-02-28 06:58] SergeKZ commented on #82
Yes, not work =(  iphone 7  unc0ver   iOS 13.3

[2020-02-28 06:59] SergeKZ commented on #39
How to make working with instagram?

[2020-02-28 19:36] l0gg3r commented on #82
that's because "Cydia substrate" is not available for unc0ver

[2020-02-29 09:31] SergeKZ commented on #82
Please update for  substitute

[2020-03-05 17:24] Itaybre commented on #82
I made a PR with support for A12/A13 that only have JB with Substitute.
I should be simple to add this when substitute is used, give me some hours to update it

[2020-03-07 03:38] 879923158 opened #84 "Not working with Checkra1n + iOS 13.3.1（iphone 6s plus）"
You can connect to Fiddler normally before running checkra1n. After using, Fiddler can't grab the iPhone no matter whether it's in the jailbreak environment or not. Please help solve the problem

[2020-03-07 03:40] 879923158 commented on #84
If there is any good way to solve this problem, please email me: 879923158@qq.com

[2020-03-07 21:05] mileyvirus commented on #82
Hey @Itaybre I compiled your code but it just crashes any app I open, does it work on your end? I have an iPhone 11 Pro Max with iOS 13.3 with the latest unc0ver.

[2020-03-07 23:22] Itaybre commented on #82
@mileyvirus it is working on my iPhone 11 Pro 13.3
I try adding the fix to all the hooks, I only added to the one crashing my device

[2020-03-08 18:08] puuurp commented on #82
@Itaybre is there anyway that you could update the master with the new code or create a new topic for the substitute version? I don't know what to do with the code you have in PR

[2020-03-10 07:49] liuxuan30 commented on #68
I think this is because the macOS has hardened runtime for the app. Thus using lldb and dyld insert is not enough. Refer https://github.com/nabla-c0d3/ssl-kill-switch2/issues/52

[2020-03-10 07:50] liuxuan30 commented on #52
H i there, I just came across this thread. Any updates with the HookCase PR?

[2020-03-10 08:23] liuxuan30 commented on #52
@MarkVillacampa I tried your diff on Catalina, seems not working. I would like to dig into it. Any updates?

[2020-03-10 09:35] liuxuan30 commented on #52
actually, I found a super important thing: `HC_INSERT_LIBRARY` must be using full path, even if you are in the current folder... this saved my day.

[2020-03-18 22:30] GrumpyMonkey3 opened #85 "Not working with unc0ver iOS 13.3 jailbreak with substitute"
Many people have brought this issue up but there still has not been a resolution. Please update it for substitute on iOS 13.3 with the unc0ver jailbreak as people do rely on this

[2020-03-18 23:22] nabla-c0d3 commented on #85
Unfortunately, complaining to get people to do free work for you will rarely get you anywhere.

[2020-03-18 23:22] #85 closed

[2020-03-20 02:00] GrumpyMonkey3 opened #86 "Not working for iOS 13.3 with Substitute"
My previous issue was closed because I was "complaining" about this getting fixed. Alright you lazy ¢unt. Not my fault you made a product that only works on older devices and that you're too lazy to update it. Instead of sitting on here, you should be working on updating. I was just informing you that this doesn't work for the newest jailbreak and you got salty :kek: You definitely got bullied in

[2020-03-20 02:01] GrumpyMonkey3 commented on #86
I even said please 🤦🏻‍♂️ Like yea bro I'm definitely complaining. You're braindead as hell

[2020-03-20 02:03] GrumpyMonkey3 commented on #86
![4EF5D081-3C78-4223-BCF1-BD37CE72B13C](https://user-images.githubusercontent.com/62360358/77130205-418ef700-6a14-11ea-9067-1855c77e76c8.png)

[2020-03-20 02:16] nabla-c0d3 commented on #86
There is already a ticket for this issue specifically, and you replied on it: https://github.com/nabla-c0d3/ssl-kill-switch2/issues/82 and then opened yet another ticket for the exact same thing.
I closed your new ticket because it was just a duplicate with you complaining about why the issue had not been resolved yet. Opening more tickets doesn't help either.

[2020-03-20 02:16] #86 closed

[2020-04-20 18:49] mateeuslinno commented on #76
I think this application use Alamofire.

[2020-05-25 15:22] blunden commented on #82
@Itaybre Did you ever end up applying your fix to the other hooks?

[2020-05-25 23:20] sooxt98 opened #87 "Not working with unc0ver + iOS 13.5 XS"
I did enable, the interceptor still showing ssl

![image](https://user-images.githubusercontent.com/13378059/82847904-48aa1800-9f23-11ea-95ee-d4b4397dc5c5.jpeg)

[2020-06-03 05:52] Eat-Sleep-Code-fun commented on #87
I am getting the same problem. You the lucky ones, you can at least see the SSL kill SWitch tab in your phone. For me, No SSL kill switch tab in settings :(.

[2020-06-03 11:28] yywoxin commented on #87
Not working with unc0ver + iOS 13.5 ipone6s too

[2020-06-03 11:33] yywoxin commented on #87
this problem is solved, restart the application

[2020-06-06 08:54] jankais3r commented on #82
Fully working version for Unc0ver is now available here: https://github.com/julioverne/ssl-kill-switch2

[2020-06-06 09:31] blunden commented on #82
Interesting. 😀 Why did you remove the license, readme etc. though?

[2020-06-06 09:45] jankais3r commented on #82
It is not my repository. I made a bounty for it on Reddit and julioverne was kind enough to pick up the challenge. Also, judging by the code, it seems to be an update of the [original SSL Kill Switch](https://github.com/iSECPartners/ios-ssl-kill-switch), rather than SSL Kill Switch 2. Yes it’s missing a license, but the original authors are credited in the Cydia repo.

![DFDC585A-AED3-44B3-AA19-79

[2020-06-06 10:07] blunden commented on #82
I see. It definitely contains code from here too though so he probably removed any code that doesn't apply to iOS and removed the Xcode project.

It would've been preferable if he had made a smaller diff that could be submitted as a pull request here since I don't expect him to maintain his fork in the future.

[2020-06-08 18:26] holyswordman commented on #87
so it works with iPhone 6s unc0ver + iOS 13.5, isn't?

[2020-06-08 21:56] bamhm182 commented on #87
I'm also having no luck on the iPhone SE 2 (2020) on 13.5, jailbroken with unc0ver 5.0.1. I have configured Burp Suite to intercept network requests and can see requests to 'http://neverssl.com' just fine, however, requests to 'https://www.google.com' fail with "Safari cannot open the page because it could not establish a secure connection to the server."

[2020-06-16 03:15] profiles commented on #87
maybe a arm64e support issue, compile the newest code

[2020-07-04 18:00] reversebrain opened #89 "Settings entry not showing on iOS 13.3 and unc0ver 5.2.0"
I followed the installation guide but after restarting the SpringBoard there is not SSL Kill Switch 2 settings entry in the menu.

I have the following packages installed:
- Cydia Substrate 0.9.7101
- Debian Packager 1.19.7-1
- PreferenceLoader 2.2.4

Do you have any solutions?

[2020-07-16 08:20] samuelscheit commented on #71
How do I remove the tweak, sadly I don't have SSH access

[2020-07-30 02:48] eaneatfruit commented on #89
Same problem here.

Cydia Substrate 0.9.710-1
Debian Packager 1.19.7-1
PreferenceLoader 2.2.4

Tested on iOS 13.0.

[2020-07-30 16:43] Numenorean commented on #76
ExpressVPN using raw tcp. not http

[2020-08-14 12:17] victorfloressanchez commented on #89
Has anyone managed to solve this problem? It doesn't work for me either in iOS 12.4.6
I have the following packages installed:
- Cydia Substrate 0.9.7107
- Debian Packager 1.19.7-1
- PreferenceLoader 2.2.5

I have tried with:

- SSL Kill Switch 2 v.0.13
- SSL Kill Switch 2 v.0.14

[2020-08-14 12:30] victorfloressanchez commented on #89
Has anyone managed to solve this problem? It doesn't work for me either in iOS 12.4.6
I have the following packages installed:

Cydia Substrate 0.9.7107
Debian Packager 1.19.7-1
PreferenceLoader 2.2.5
I have tried with:

SSL Kill Switch 2 v.0.13
SSL Kill Switch 2 v.0.14

[2020-08-14 12:31] victorfloressanchez commented on #89
Has anyone managed to solve this problem? It doesn't work for me either in iOS 12.4.6
I have the following packages installed:

- Cydia Substrate 0.9.7107
- Debian Packager 1.19.7-1
- PreferenceLoader 2.2.5

I have tried with:

- SSL Kill Switch 2 v.0.13
- SSL Kill Switch 2 v.0.14

[2020-09-05 08:06] OsamaMahmood commented on #71
not working on 13.6.1 jb using checkrain

[2020-09-05 08:08] samuelscheit commented on #71
You need to turn off WLAN and turn on Flight Mode

[2020-09-05 08:34] OsamaMahmood commented on #71
Did you got it working on iOS 13.6.1 because when i proxy the traffic apps having ssl pining enabled keeps on crashing

[2020-09-07 14:20] JulyIghor commented on #87
works fine for me on iOS 13.5 iPhone SE 2016

[2020-09-11 17:25] 4val0v commented on #87
**Not working**
iPhone SE, **iOS 13.7** - checkra1n
_App Store - Cannot Connect to App Store_

[2020-09-11 18:11] JulyIghor commented on #87
have you killed itunesstored process?

[2020-09-12 10:12] 4val0v commented on #87
Yes
[code]

[2020-09-12 23:33] 4val0v commented on #87
@JulyIghor You said that works for you, what version of Java and Burp are you using?

_I have such a situation:_
1) Burp 2020.4 + Java 13 + My SSL Certificate = Not work
2) Burp 2.1.07 with Portswigger SSL (Default) + Java 8 = Fine works

[2020-09-12 23:34] JulyIghor commented on #87
Fiddler

[2020-09-13 22:36] Hoffconna commented on #89
I think it's the problem of unc0ver，when i use the low version unc0ver ,it's ok

[2020-09-13 23:36] Hoffconna commented on #89
it's my environment what is ok
unc0ver 4.3.1
debian packager 1.19.7-2
cydia substrate 0.9.7111
preferenceLoader 2.2.5

[2020-09-15 09:22] victorfloressanchez commented on #89
Thank you

What version of iphone have you tried? mine is 5s with iOS and in unc0ver v5.3.0 Release it is when they have added:

- Add iOS 12.3-12.3.1 and 12.4.1-12.4.8 (Latest versions) support for iPhone 5S, iPhone 6 and iPad Air 1 models with high exploit reliability

A greeting

[2020-09-24 07:04] ghost opened #90 "iOS 14 cannot be installed"
**iPhone:~ root#** dpkg -i com.nablac0d3.sslkillswitch2_0.14.deb
(Reading database ... 1768 files and directories currently installed.)
Preparing to unpack com.nablac0d3.sslkillswitch2_0.14.deb ...
Unpacking com.nablac0d3.sslkillswitch2 (0.14-3+debug) over (0.14-3+debug) ...
dpkg: dependency problems prevent configuration of com.nablac0d3.sslkillswitch2:
 com.nablac0d3.sslkillswitch2 depends on mo

[2020-09-24 08:29] #90 closed, assigned to nobody

[2020-09-24 08:47] asad0x01 commented on #90
You'll have to install mobilesubstrate and preferenceloader from cydia.

[2020-09-24 20:27] avltree9798 opened #91 "Keep crashing the securityuploadd on checkra1n 0.11.0 - iOS 13.7"
Hi,

when SSL Kill Switch 2 is enabled, this keep securityuploadd crashing, and any other application with similar logs

[code]

[2020-09-28 02:07] liuxuan30 commented on #91
you will need to check which function it crashed, with this trace it cannot tell too much

[2020-10-17 01:41] ghost commented on #90
ok,thinks

asad0x01 <notifications@github.com> 于2020年9月24日周四 下午4:47写道：

[2020-10-28 02:32] 0xPanda-ai commented on #89
it's the problem of unc0ver

[2020-11-06 16:16] Yui550 commented on #64
I have the same problem now, is there a way to solve it?

[2020-11-11 16:28] oxyrunsrebug opened #92 "IOS 14 SUPPORT?"
IOS 14 support soon?

[2020-11-18 14:21] BreakfastSerial commented on #82
Is there a built .deb or a cydia repo that hosts this? Thank you and stay safe.

Never mind. I'm serially blind. If anyone has the same issue: https://julioverne.github.io/

**edit:** For me this crashes multiple apps once active (including my target app, the general system settings, filza and others) (iOS 13.2.2)

[2020-11-25 04:06] ghost commented on #13
The only way to bypass facebook SSL pinning for now is by using frida and objection.

[2020-11-27 13:11] markus0m commented on #92
I'd also love to be able to use ssl-kill-switch2 on iOS 14.
It's my #1 essential tweak

[2021-01-10 09:53] foolzzz opened #93 "delete"
delete

[2021-01-10 10:31] #93 closed, assigned to nobody

[2021-01-10 10:31] foolzzz commented on #93
delete

[2021-01-16 14:02] hackingtosh opened #94 "Does this work on iPad Pro 2020 on iOS 13.5?"
Does it work on the iPad Pro 2020 11 inch 2nd gen, jailbreaked with unc0ver 5.3.1 on iOS 13.5?

Because I read that Cydia Substrate shouldn't be installed on A12 devices: https://www.reddit.com/r/jailbreak/comments/eqcyny/question_should_i_install_cydia_substrate/

[2021-01-16 14:49] asad0x01 commented on #94
Use Frida instead.

[2021-01-26 05:57] vzhang opened #95 "Not working with Marriott Bonvoy"
It appears Marriott Bonvoy has changed how they handle cert pinning, as it no longer works with Marriott Bonvoy.

[2021-02-16 08:48] s1lviu opened #96 "Apple Silicon support?"
Do you have any plans to support this tool for silicon devices? I think there's a wider potential as the .ipas can be installed without jailbreak.
Thanks!

[2021-02-27 22:25] authrequest commented on #92
I'm sure once unc0ver or similar JB tool is updated to jb iOS 14, this tweak will support it. Just no public JB available.

[2021-02-28 09:50] adrianjagielak commented on #92
There was a jailbreak for iOS 14 like a week after apple released it, with [checkra1n](https://checkra.in), unpatchable bootrom exploit for older iphones/ipads.

[2021-02-28 09:52] adrianjagielak commented on #92
For the iphones up to the iPhone X there will always be a public jailbreak for the lastest ios version with it

[2021-02-28 10:21] markus0m commented on #92
There was unc0ver 14.0-14.3 and checkra1n for a few older devices up to 14.4
Never tried them due to the unavailability of this tweak.

[2021-02-28 13:10] adrianjagielak commented on #92
[Complete jailbreak chart](https://docs.google.com/spreadsheets/d/11DABHIIqwYQKj1L83AK9ywk_hYMjEkcaxpIg6phbTf0/htmlview#)

[2021-03-01 08:55] vigorem commented on #92
Just jailbreaked to 14.4 with  _checkra1n_ , the support for this version would be just amazing.

[2021-03-23 10:23] doronz88 commented on #92
It supports iOS 14 perfectly. Just needs to update the print and README in the repo

[2021-03-23 10:26] adrianjagielak commented on #92
@nabla-c0d3

[2021-03-27 17:24] NeitsabesD commented on #92
Confirming, works very efficiently on iOs 14

[2021-03-28 23:16] nabla-c0d3 commented on #92
Thanks everyone for testing it on iOS 14. I have added this to the README.

[2021-03-28 23:16] #92 closed, assigned to nobody

[2021-03-28 23:19] #76 closed

[2021-03-28 23:19] #91 closed, assigned to nobody

[2021-03-28 23:20] #94 closed, assigned to nobody

[2021-03-28 23:22] #68 closed

[2021-03-28 23:22] #70 closed

[2021-03-28 23:23] #87 closed

[2021-03-28 23:23] #84 closed

[2021-03-28 23:23] #89 closed, assigned to nobody

[2021-03-28 23:25] #82 closed

[2021-03-28 23:26] #79 closed

[2021-03-30 03:16] ghost opened #98 "iOS 14.3 Support?"
As it currently stands, ssl kill switch 2 doesn't work for ios 14.3 iphone 8 devices.

[2021-03-30 16:55] ghost commented on #98
So far I was able to get the SSL Kill Switch to show up on my phone. Now I just need to actually test it to determine if it will work or not.

[2021-03-31 02:37] ghost commented on #98
I don't believe that ssl kill switch works while activated. I tried to install a couple of different ipas and I got the following error below

![image](https://user-images.githubusercontent.com/23001248/113082487-90837680-91a8-11eb-93e7-87a8bd7d643e.jpeg)

[2021-04-04 18:06] cyc0der opened #99 "ssl kill switch on IOS Simulator"
is it possible to use this on IOS Simulator?

[2021-04-04 18:15] iamsidharthbnair commented on #99
Hey which iOS simulator are you using and is it in a Mac or Windows system?

[2021-04-06 17:41] savandriy commented on #52
Hey guys!

Are there any updates on the situation? I really want to see how the api calls look for the App Store.

I've tried the diff by @MarkVillacampa on Catalina, and App Store doesn't work.

@lupojpoodle can you please share the full patched ```boringssl_context_issue_tls_handshake_callback``` function? As far as I understand you need to know the function type and args to patch it. I would re

[2021-04-13 07:35] giantrule opened #100 "Step by step manual for MacOS"
Please update new guideline for MacOS in more detail.
Thank you.

[2021-04-15 11:53] michalRajcan commented on #98
Have you tried installing "Substitute" package in Cydia instead of the "Cydia Substrate"?
worked for me like charm.

Truth be told, I used it only to strip SSL...

offtopic: why not use Sideloadly from Pangu to install IPAs?

[2021-04-15 23:19] savandriy commented on #52
Hello again, everyone!

I have some great news!

I stumbled upon a [Frida](https://frida.re/) script that allowed me to bypass the ssl certificate pinning in App Store on macOS Catalina!

Huge thank you to @kendfinger for the impressive work!

You can access the script here -> https://gist.github.com/kendfinger/37f941de24c5dfe46f3b8e93d94ce909

I had Catalina running on Virtualbox, with SIP disabl

[2021-04-23 17:16] russian-developer commented on #13
a very complicated way. :( okay…

[2021-04-23 18:17] ghost commented on #13
https://github.com/tsarpaul/FBUnpinner

[2021-04-25 11:59] cyc0der commented on #99
hey! xcode ios simulator on mac

[2021-05-08 11:55] iangcarroll commented on #98
FWIW: Works for me out of the box on 14.5.1 with just Cydia Substrate.

[2021-05-11 16:52] HuChundong opened #101 "do not support flutter app with handshack"
such as my-bmw app

handshack fail

`handshake_failure (40) - Unable to negotiate an acceptable set of security parameters, this probably means there are no cipher suites in common`

[2021-05-16 01:02] 1trackprojects1 commented on #98
which .deb did you use?

[2021-05-16 06:53] 1trackprojects1 commented on #37
same issue is come on iOS 14.2 with snapchat, can someone please help

[2021-06-02 11:16] MichaelKostin commented on #64
Hi @liuxuan30. Did you solve the issue?

[2021-06-14 11:22] pentestaec commented on #98
Could please somebody write the correct method how to install Killswitch on iOS 14.4+?

[2021-06-30 12:20] kpratik9 commented on #98
Worked for me. (Jailbroken iPhone 6s. iOS 14.5)

Open Cydia and install wget.

Ssh in to your jailbroken device and download the package in /tmp folder from the following link using wget command:

https://github.com/nabla-c0d3/ssl-kill-switch2/releases/tag/0.14

iPhone:/tmp root# wget https://github.com/nabla-c0d3/ssl-kill-switch2/releases/download/0.14/com.nablac0d3.sslkillswitch2_0.14.deb

iPhon

[2021-08-27 14:24] iamsidharthbnair commented on #92
Can anyone guide me ssl kill switch 2 isn't reflecting under settings in Iphone XR

[2021-08-27 14:27] iamsidharthbnair opened #102 "Iphone XR... iOS 14.2 SSL KILL SWITCH not working!"
Installed the 0.14 deb file but the SSL KILL SWITCH is not reflecting under the setting menu

[2021-08-30 06:23] iamsidharthbnair commented on #102
Re-checked, latest update is working. Thanks

[2021-08-30 06:23] #102 closed, assigned to nobody

[2021-09-06 16:41] ptrkstr commented on #92
~~Same as @sidh104 , I can't see SSL Kill Switch 2 in settings app; running iPhone 7 14.6~~
I'm able to see it once I force closed settings app.
Have you tried that @sidh104?

[2021-09-06 16:42] patrickbdev commented on #102
How did you solve this @sidh104 ?

[2021-09-06 16:51] ptrkstr commented on #98
These instructions worked for me on iPhone 7, iOS 14.6. Thank you @kpratik9

[2021-09-10 07:39] JobberRT commented on #102
Sorry for re-open this issue, but hey @sidh104 can you explain how you get SSL KILL SWITCH shown up in the setting menu?
My device:
Iphone X with IOS14.7.1 (checkra1n 0.12.4-beta jailbreak)

Cydia Substrate 0.9.7113
Debain Packager 1.19.7-2
PreferenceLoader 2.2.6
SSL KILL SWITCH 2 0.14-3+debug

Already updated all Cydia application

[2021-09-10 14:13] ptrkstr commented on #102
Have you tried force closing the settings app?

[2021-09-13 06:44] JobberRT commented on #102
sorry for replying late, things being too busy lately.
i try to do a system reset, then it worked, same steps but work.. thanks for helping me

[2021-11-14 10:02] kpratik9 commented on #98
You are welcome @ptrkstr

[2021-11-23 15:05] Nigel1992 commented on #98
Can confirm its working but make sure you respring your device after installing.

[2021-12-08 00:27] DS992 commented on #96
Would be great if this was supported, can't find any alternative solutions to SSL Pinning bypass on Apple Silicon anywhere

[2021-12-22 23:06] feanluvien opened #103 "Detecting SSL Kill Switch 2"
Hi,

I am an IS auditor and I perform security audits on my company's mobile apps. I am using the SSL Kill Switch 2 tool during security tests and bypassing certificate pinning. Very useful tool and thank you for that :)

One question raised during the audit. Is there a way to detect ssl kill switch 2 or a similar bypassing tool installed on device? Can a mobile application do that?

I am preparin

[2021-12-23 18:12] 1trackprojects1 commented on #103
Sus.

[2021-12-25 12:24] testa010 opened #104 "can you build a deb file of the latest version?"

[2021-12-27 11:26] adrianjagielak commented on #104
There is virtually no difference between the latest commits and the 0.14 from [Releases](https://github.com/nabla-c0d3/ssl-kill-switch2/releases)

[2022-02-03 07:20] coolkidhai opened #105 "not work in ip11,14.7.1 ,unc0ver"
not work in my ip11
version:14.7.1
unc0ver
it work well in my ipx ,14.4  ,checkra1n

[2022-02-03 09:47] coolkidhai commented on #105
it's seems not work on system apps.not injected

[2022-02-03 14:36] 1trackprojects1 commented on #92
@doronz88 and @NeitsabesD can you guys tell me which jailbreak you use and the exact iOS version?

[2022-02-04 13:26] 1trackprojects1 commented on #105
im having problems as well with unc0ver and 14.1

[2022-02-04 13:48] 1trackprojects1 commented on #104
id prefer if this is done as well

[2022-02-04 14:09] coolkidhai commented on #105
it's the problem of arm64e.
check this issues.
https://github.com/theos/theos/issues/563
you can choose target ios version >14.1,and compile with arm64e.it's work for me .

[2022-03-10 12:04] ismkdc opened #106 "For windows?"
hello im lookig for tool for windows for bypass ssl pinning. I'm using windows 10. Is there any tool for windows?

[2022-04-06 16:48] JonathanJonathanJonathan commented on #105
@coolkidhai is it possible to share your .deb file? :)

[2022-04-24 17:27] jankais3r commented on #96
I am putting up a $100 bounty for anyone providing a PR that makes this work on macOS 12.3 or later on Apple Silicon Macs. With Frida still not working properly on Monterey, there is currently no way to bypass certificate pinning on the latest macOS.

[2022-06-11 01:00] pastre opened #107 "Question: Will uninstalling this app restore SSL pinning and my device will be back to full security?"

[2022-07-10 20:07] jonluca commented on #98
This has been hosted at https://jonlu.ca/repo/ if you don't want to install this via the terminal/`dpkg` as well

[2022-08-08 10:35] Shoev594 opened #108 "Please add support non jb device"

[2022-09-03 12:04] JJTech0130 commented on #52
The original gist is down, so I'll paste it here so it doesn't get lost forever:
[code]

[2022-10-18 02:46] Computershik73 commented on #98
Does it work on iOS 14.7? iPhone 7. I am going to buy it.

[2022-10-18 05:47] kpratik9 commented on #98
Yes. It worked for me on iOS 14.8 iPhone 7 Plus.

On Tue, 18 Oct 2022 at 8:16 AM, Ilya Vysotsky ***@***.***>
wrote:

[2022-10-18 11:05] Computershik73 commented on #98
I hope it will work with unc0ver and that I will not have to recompile it.

[2022-10-29 16:05] hungntv commented on #108
Simple answer is "YOU CAN'T"

[2022-11-10 03:55] Whyceeizback opened #109 "Whycee need to leave Nigeria to learn more and add more skills to my self made hacking"
I'm living in boundage here in Nigeria,they keep saying I'm crazy..at times they do call me mad boy
1-firstly i don't have tools for working (MacBook pro 2019,iPhone 13pro,iPhone X'xmas)..that's the only things I'm in need!
2-i don't even have my own privacy,like i don't have house with just single mobility.i keep trecking and suffering on my sweat, i need acting and shaking heads...though they mi

[2022-11-11 14:17] Whyceeizback opened #110 "I need a check up of what I'm saying now"
I'm in school actually my mates are writing exam,upon all the suffering...I'm outside they don't let me in for the exam,I'm on same wears of the clothes i posted in the last request on black noise mask 😷

[2022-11-11 18:10] havsar commented on #39
If someone has a solution, contact me ummet662@gmail.com

[2022-11-26 11:38] levinl opened #111 "jailbroke 15.3.1 by palera1n, not working"
hope to support iOS 15